# Read in the dataset

In [1]:
import gzip
import os
import humanfriendly
import numpy as np
import pandas as pd

from openclean.data.source.socrata import Socrata

import warnings
warnings.filterwarnings('ignore')

# Original dataset
dob_historical_permit_issuance_id = 'bty7-2jhb'
# Other datasets with overlapping fields
dob_cellular_antenna_filings_id = 'iz2q-9x8d'
dob_C_of_O_id = 'bs8b-p36w'
nyc_restaurant_inspection_id = '43nn-pn8j'

residential_addresses_id = '3ub5-4ph8'
charges_id = '5fn4-dr26'
trade_waste_hauler_licensees_id = '867j-5pgi'
inspections_id = 'jzhd-m6uv'

self_hauler_registrants_id = 'a8wp-rerh'
dob_electrical_permit_applications_id = 'dm9a-ab7w'
dob_stalled_const_sites_id = 'i296-73x5'

# Set the unique id of the dataset you want to use here
db_id = dob_cellular_antenna_filings_id

# Dictionary for the name of target columns in each data set
## Dictionary String values:
#### - Borough
#### - Street
#### - Number
#### - Block
#### - Lot
#### - Community Board
## Dictionary List values:
#### - City
#### - State
#### - First Name
#### - Last Name
#### - Additional Street
#### - Additional Number
column_name_mapping = {dob_historical_permit_issuance_id: {'Borough': 'BOROUGH', 
                                                           'City': ["Owner’s House City",],
                                                           'Street': 'Street',
                                                           'Number': 'Number',
                                                           'Block': 'Block',
                                                           'Lot': 'Lot',
                                                           'State': ["Owner’s House State",],
                                                           'Community Board': 'Community Board',
                                                           'First Name': [
                                                               "Permittee's First Name",
                                                               "Site Safety Mgr's First Name",
                                                               "Owner's First Name",
                                                           ],
                                                          'Last Name': [
                                                              "Permittee's Last Name",
                                                              "Site Safety Mgr's Last Name",
                                                              "Owner's Last Name",
                                                          ],
                                                          'Additional Street': [
                                                              "Owner's House Street Name",
                                                          ],
                                                          'Additional Number': [
                                                              "Owner's House #",
                                                          ],},
                       dob_cellular_antenna_filings_id: {'Borough': 'Borough', 
                                                           'City': ['City',],
                                                           'Street': 'Street Name',
                                                           'Number': 'House #',
                                                           'Block': 'Block',
                                                           'Lot': 'Lot',
                                                            'State': ['State',],
                                                           'Community Board': 'Community - Board',
                                                           'First Name': [
                                                               "Applicant's First Name",
                                                               "Owner's First Name",
                                                           ],
                                                           'Last Name': [
                                                             "Applicant's Last Name",
                                                               "Owner's Last Name",
                                                           ],
                                                          'Additional Street': [
                                                              "Owner's  House Street",
                                                          ],
                                                          'Additional Number': [
                                                              "Owner's  House #",
                                                          ],},
                       dob_C_of_O_id: {'Borough': 'BOROUGH', 
                                       'Street': 'STREET',
                                       'Number': 'NUMBER',
                                       'Block': 'BLOCK',
                                       'Lot': 'LOT',
                                      'Community Board': 'COMMUNITY_BOARD',},
                       nyc_restaurant_inspection_id: {'Borough': 'BORO', 
                                           'Street': 'STREET',
                                           'Number': 'BUILDING',
                                           'Community Board': 'Community Board',},
                       residential_addresses_id: {'Borough': 'BOROUGH', 
                                       'Street': 'STREET',
                                       'Number': 'HOUSE #',
                                       'Block': 'BLOCK',
                                       'Lot': 'LOT',
                                      'Community Board': 'COMMUNITY DISTRICT',},
                       
                       charges_id: {'Borough' : 'Borough',
                                    'Street': 'Street',
                                    'Number': 'Building Number',
                                    'City' : ['City',],
                                    'State': ['State',],},
                       
                       trade_waste_hauler_licensees_id: {'Borough' : 'BORO',
                                                        'Street': 'ADDRESS',
                                                        'City' : ['CITY',],
                                                        'State': ['STATE',],},
                       
                       inspections_id: {'Borough' : 'Borough',
                                        'Street': 'Street',
                                        'Number': 'Building Number',
                                        'City' : ['City',],
                                        'State': ['State',],},
                       self_hauler_registrants_id: {'Borough' : 'BORO',
                                                    'Street' : 'ADDRESS',
                                                     'City': ['CITY',],
                                                     'State': ['STATE',],
                                                     'Community Board': 'COMMUNITY BOARD',
                                                   },
                       dob_electrical_permit_applications_id : {'Borough': 'BOROUGH',
                                                           'City': ["CITY","OWNER_CITY"],
                                                           'Street': 'STREET_NAME',
                                                           'Number': 'HOUSE_NUMBER',
                                                           'Block': 'BLOCK',
                                                           'Lot': 'LOT',
                                                           'State': ["STATE","OWNER_STATE"],
                                                           'Community Board': 'COMMUNITY_BOARD',
                                                           'First Name': [
                                                               "APPLICANT_FIRST_NAME",
                                                               "OWNER_FIRST_NAME",
                                                               "AUTH_REP_FIRST_NAME",
                                                           ],
                                                          'Last Name': [
                                                              "APPLICANT_LAST_NAME",
                                                              "OWNER_LAST_NAME",
                                                              "AUTH_REP_LAST_NAME",
                                                          ],
                                                        },
                       dob_stalled_const_sites_id: {'Borough' : 'Borough Name',
                                                    'Street' : 'Street Name',
                                                    'Number' : 'House Number',
                                                     'Community Board': 'Community Board',
                                                   },
                      }

dataset = Socrata().dataset(db_id)

datafile = f'./{db_id}.tsv.gz'

# Download file if it doesn't exist
if not os.path.isfile(datafile):
    with gzip.open(datafile, 'wb') as  f:
        print('Downloading ...\n')
        dataset.write(f)

fsize = humanfriendly.format_size(os.stat(datafile).st_size)
print(f'Using "{dataset.name}" in file {datafile} of size {fsize}')

Using "DOB Stalled Construction Sites" in file ./i296-73x5.tsv.gz of size 16.84 MB

## Create data stream

In [2]:
from openclean.pipeline import stream
# Select only the relevant columns
target_cols = []
for v in column_name_mapping[db_id].values():
    if type(v) == list:
        target_cols.extend(v)
    else:
        target_cols.append(v)
# Used a sample size calculator to determine what sample size we needed
# to have a Confidence Level of 95% with Confidence Interval of 10
limit_num = 96
        
ds_full = stream(datafile).limit(limit_num).select(columns=target_cols)
original_data = ds_full

## Initial Profile

In [3]:
from openclean.profiling.column import DefaultColumnProfiler

profiles = ds_full.profile(default_profiler=DefaultColumnProfiler)
profiles.stats()

                 total  empty  distinct  uniqueness   entropy
Borough Name        96      0         5    0.052083  1.688024
Street Name         96      0        89    0.927083  6.439129
House Number        96      0        95    0.989583  6.564129
Community Board     96      0        35    0.364583  4.735473

### Method to generate a histogram

In [4]:
def get_histogram(data_set, column_name):
    print(f'\n{column_name}:')
    value = data_set.distinct(column_name)
    for rank, val in enumerate(value.most_common()):
        v, freq = val
        print(f'{rank+1:<3} {v} {freq:>10,}')

## Clean Borough data

In [5]:
def clean_borough_name(name):
    boroughs = ['MANHATTAN', 'BRONX', 'BROOKLYN', 'QUEENS', 'STATEN ISLAND']
    if is_empty(name):
        return 'N/A'
    elif name == '1':
        return 'MANHATTAN'
    elif name == '2':
        return 'BRONX'
    elif name == '3':
        return 'BROOKLYN'
    elif name == '4':
        return 'QUEENS'
    elif name == '5':
        return 'STATEN ISLAND'
    elif name.upper() in boroughs:
        return name.upper()
    else:
        return 'N/A'

def clean_borough_data(ds, column_name):
    cleaned_data = ds.update(column_name, lambda x: clean_borough_name(x))
    return cleaned_data

## Clean city data

In [6]:
from fuzzywuzzy import fuzz
import json

from openclean.data.refdata import RefStore
from openclean.function.value.null import is_empty

def clean_city_name(name, valid_city_lookup):
    if is_empty(name):
        return 'N/A'
    return valid_city_lookup.get(name.upper(), 'N/A')


def clean_city_data(ds, column_name):
    # Download the license plate state codes dataset.
    refdata = RefStore()
    refdata\
        .load('encyclopaedia_britannica:us_cities', auto_download=True)\
        .df()\

    # Get set of distinct state codes.
    city_ref = refdata.load('encyclopaedia_britannica:us_cities', auto_download=True).distinct('city')
    # Get list of distinct owner house city names
    city_names = ds.distinct(column_name)
    # Init lookup dictionary for fuzzy matching
    city_ref_lookup = {}
    ref_file_name = 'city_ref_lookup.json'
    # 
    if os.path.isfile(ref_file_name):
        with open(ref_file_name) as f:
            city_ref_lookup = json.load(f)
    # compare city name to each valid city and add to lookup table
    # if the similarity is high enough
    for city in city_names:
        if is_empty(city):
            continue
        name = city.lstrip().rstrip().upper()
        if city_ref_lookup.get(name):
            continue
        if (name == 'NYC' or 
              name == 'NY' or
              fuzz.ratio('NY', name) > 70 or
              fuzz.ratio('NYC', name) > 70):
            city_ref_lookup[name] = 'NEW YORK'
            continue
        found_match = False
        for valid_city in city_ref:
            percent_match = fuzz.ratio(valid_city.upper(), name)
            if percent_match > 70:
                found_match = True
                city_ref_lookup[name] = valid_city.upper()
                break
        if not found_match:
            city_ref_lookup[name] = 'N/A'

    cleaned_data = ds.update(column_name, lambda x: clean_city_name(x, city_ref_lookup))
    with open(ref_file_name, 'w') as f:
        json.dump(city_ref_lookup, f)
    return cleaned_data

## Clean state data

In [7]:
def clean_state(name, states_ref):
    # Return 'N/A' if the state value is invalid
    if name not in states_ref:
        return 'N/A'
    else:
        return name

def clean_state_data(ds, column_name):
    # Download the license plate state codes dataset.
    refdata = RefStore()
    refdata\
        .load('nyc.gov:dof:state_codes', auto_download=True)\
        .df()\
        .head()

    # Get set of distinct state codes.
    states_ref = refdata.load('nyc.gov:dof:state_codes', auto_download=True).distinct('code')

    cleaned_data = ds.update(column_name, lambda x: clean_state(x, states_ref))
    return cleaned_data

## Clean U.S. Street data

In [8]:
from openclean_geo.address.usstreet import StandardizeUSStreetName

def clean_street_name(name):
    # Replace empty data with 'N/A'
    if is_empty(name):
        return 'N/A'
    # Function to help standardize the street names
    street_func = StandardizeUSStreetName(characters='upper', alphanum=True, repeated=False)
    name = ''.join(street_func.apply([name], threads=None))
    # The conditional statements below are used to try and reduce the remaining
    # number of outlier data by fixing some common errors revealed in the histogram.
    if name == 'CLARKE PLACE EAST':
        name = 'EAST CLARKE PLACE'
    elif name == 'EAST BEDFORD PARK BLVD':
        name = 'BEDFORD PARK BLVD EAST'
    elif name == 'WTC':
        name = 'WORLD TRADE CTR'
    elif name == 'TIME SQ':
        name = 'TIMES SQ'
    elif name == 'PITT':
        name = 'PITT ST'
    elif name == 'BOGARDUS':
        name = 'BOGARDUS PLACE'
    elif name == 'NAGLE':
        name = 'NAGLE AVE'
    elif name == 'SHEPHERD':
        name = 'SHEPHERD AVE'

    split_name = name.split()
    if len(split_name) == 0:
        return 'N/A'
    
    if split_name[-1] in ['SSTREET', 'STRET', 'STREET', 'STREE']:
        split_name[-1] = 'ST'
    elif split_name[-1] == 'PL':
        split_name[-1] = 'PLACE'
    elif split_name[-1].isnumeric():
        split_name.append('ST')
    elif split_name[0] == 'ST':
        split_name[0] = 'SAINT'
    elif split_name[-1] == 'E':
        split_name[-1] = 'EAST'
    elif split_name[-1] == 'W':
        split_name[-1] = 'WEST'
    elif split_name[-1] == 'N':
        split_name[-1] = 'NORTH'
    elif split_name[-1] in ['S', 'SOUIH']:
        split_name[-1] = 'SOUTH'
    elif split_name[-1] in ['BLDV', 'BLV', 'BOULEVARD', 'BOOULEVARD']:
        split_name[-1] = 'BLVD'

    name = ' '.join(split_name)

    return name

def clean_street_data(ds, column_name):
    cleaned_data = ds.update(column_name, lambda x: clean_street_name(x))
    return cleaned_data

## Clean building number

In [9]:
def clean_number(num):
    if is_empty(num):
        return 'N/A'
    # remove any leading zero's
    num = num.lstrip('0')
    if len(num) == 0:
        return 'N/A'

    return num

def clean_building_number_data(ds, column_name):
    cleaned_data = ds.update(column_name, lambda x: clean_number(x)) 
    return cleaned_data

## Clean block and lot data

In [10]:
import requests
import urllib.parse

# Make a request the url to try and find the block and lot for an address.
# Replace missing data with N/A if it fails to find a value
# This requires you to first clean street and number data
def get_block_and_lot(borough, number, street, block, lot):
    # Return if block and lot are already filled in
    if not is_empty(block) and not is_empty(lot):
        return borough, number, street, block, lot
    if not is_empty(number) and not is_empty(street):
        req = f'https://stevemorse.org/vital/nycblocklot.php?borough={borough.title()}&number={number}&street={urllib.parse.quote(street.title())}'
        r = requests.get(req)
        if r.text == "Callback('?', '?');":
            # Try again without applying title() to street value
            req = f'https://stevemorse.org/vital/nycblocklot.php?borough={borough.title()}&number={number}&street={urllib.parse.quote(street)}'
            r = requests.get(req)
        if r.status_code == 200:
            r_str = r.text.removeprefix('Callback(').removesuffix(');').replace("'", '')
            block_lot = r_str.split(',')
            if is_empty(block):
                block = block_lot[0].strip()
            if is_empty(lot):
                lot = block_lot[1].strip()
    # Return 'N/A' if the web app was unable to find the block and lot data
    # for this input
    block = 'N/A' if block == '?' else block
    if is_empty(block):
        block = 'N/A'
    lot = 'N/A' if lot == '?' else lot
    if is_empty(lot):
        lot = 'N/A'
    return borough, number, street, block, lot

# needed_columns is a list of names for the five columns that hold borough, number, street, block, and lot
## Ex: clean_block_and_lot(ds_full, ['BOROUGH','Number','Street','Block','Lot'])
def clean_block_and_lot(ds, needed_columns):
    cleaned_data = ds.update(needed_columns, lambda bo, n, s, bl, l: get_block_and_lot(bo, n, s, bl, l))
    return cleaned_data

## Clean community board data

In [11]:
# Replace missing or incorrect data with N/A
def fix_community_board_data(data):
    is_valid = True
    if not is_empty(data) and len(data) == 3:
        for i in range(3):
            if not data[i].isnumeric():
                is_valid = False
                break
    else:
        is_valid = False
    if is_valid and data[0].isnumeric():
        if int(data[0]) > 5:
            is_valid = False
    if is_valid:
        return data
    else:
        return 'N/A'

def clean_community_board_data(ds, column_name):
    cleaned_data = ds.update(column_name, lambda x: fix_community_board_data(x)) 
    return cleaned_data

## Clean first name

In [12]:
def clean_first_name(name):
    if is_empty(name):
        return 'N/A'
    
    name = name.removeprefix('MR. ')
    name = name.removeprefix('MR ')
    name = name.removeprefix('\\')
    name = name.removeprefix(' ')
    name = name.strip('_')

    # Getting the first name only
    # some names contain '-', " ", "_", "/" between first and middle name
    name = name.split(" ")[0]
    name = name.split("-")[0]
    name = name.split("/")[0]
    name = name.split("\\")[0]
    name = name.split("_")[0]

    # further clean the first name
    name = name.strip("_")
    name = name.strip("`")
    name = name.strip("\\")
    name = name.strip("{")
    name = name.strip(".")                                                                      
    name = name.strip("-")                                                                    
    name = name.strip(",")

    # Not-a-name & missing value rows are given "NA"
    if is_empty(name) or name.isnumeric():
        return 'N/A'

    return name

def clean_first_name_data(ds, column_name):
    cleaned_data = ds.update(column_name, lambda x: clean_first_name(x)) 
    return cleaned_data

## Clean last name

In [13]:
def clean_last_name(name):
    if is_empty(name):
        return 'N/A'
    name = name.removeprefix('\\\\')
    name = name.removeprefix('\\')
    name = name.removeprefix('\\ ')
    name = name.removeprefix('/')
    name = name.removeprefix('\\\'')
    name = name.removeprefix('0 ')
    name = name.removeprefix('11 ')
    name = name.strip('_')
    # Getting the last name only
    # some names contain '-', " ", "_", "/" between first and middle name
    name = name.split(" ")[0]
    name = name.split("-")[0]
    name = name.split("/")[0]
    name = name.split("\\")[0]
    name = name.split("_")[0]

    # further clean the last name
    name = name.strip("_")
    name = name.strip("`")
    name = name.strip("\\")
    name = name.strip("{")
    name = name.strip(".")                                                                      
    name = name.strip("-")                                                                    
    name = name.strip(",")

    # Not-a-name & missing value rows are given "NA"
    if is_empty(name) or name.isnumeric():
        return 'N/A'

    return name

def clean_last_name_data(ds, column_name):
    cleaned_data = ds.update(column_name, lambda x: clean_last_name(x)) 
    return cleaned_data

## Run clean data methods

In [14]:
col_mapper = column_name_mapping.get(db_id)
if col_mapper.get('Borough'):
    ds_full = clean_borough_data(ds_full, col_mapper['Borough'])
    
if col_mapper.get('Street'):
    ds_full = clean_street_data(ds_full, col_mapper['Street'])
    
if col_mapper.get('Number'):
    ds_full = clean_building_number_data(ds_full, col_mapper['Number'])
       
if (col_mapper.get('Block') 
      and col_mapper.get('Lot')
      and col_mapper.get('Borough')
      and col_mapper.get('Number')
      and col_mapper.get('Street')):
    args_list = [col_mapper['Borough'], col_mapper['Number'], col_mapper['Street'],
                 col_mapper['Block'], col_mapper['Lot']]
    ds_full = clean_block_and_lot(ds_full, args_list)
    
if col_mapper.get('Community Board'):
    ds_full = clean_community_board_data(ds_full, col_mapper['Community Board'])
    
# The following attributes are stored as lists
if col_mapper.get('City'):
    for col in col_mapper['City']:
        ds_full = clean_city_data(ds_full, col)
        
if col_mapper.get('State'):
    for col in col_mapper['State']:
        ds_full = clean_state_data(ds_full, col)
        
if col_mapper.get('First Name'):
    for col in col_mapper['First Name']:
        ds_full = clean_first_name_data(ds_full, col)
        
if col_mapper.get('Last Name'):
    for col in col_mapper['Last Name']:
        ds_full = clean_last_name_data(ds_full, col)
# Some data sets have multiple street and number columns that need to be cleaned.
# Since the Block and Lot data cleaning depend on a specific street and number column
# The "Additional" key is used to store the other relevant columns
if col_mapper.get('Additional Street'):
    for col in col_mapper['Additional Street']:
        ds_full = clean_street_data(ds_full, col)
    
if col_mapper.get('Additional Number'):
    for col in col_mapper['Additional Number']:
        ds_full = clean_building_number_data(ds_full, col)

## Profile after clean

In [15]:
profiles = ds_full.profile(default_profiler=DefaultColumnProfiler)
profiles.stats()

                 total  empty  distinct  uniqueness   entropy
Borough Name        96      0         5    0.052083  1.688024
Street Name         96      0        88    0.916667  6.418296
House Number        96      0        95    0.989583  6.564129
Community Board     96      0        35    0.364583  4.735473

## Examine how values were changed

In [33]:
# Creates a dictionary where each column is a key, and its value is a list
# of pair tuples. The 0 index of the tuple is the original value and the 1
# index is the output value.
col_vals = ds_full.columns
compare_vals = {}
for col in col_vals:
    compare_vals[col] = []
for row in original_data.iterrows():
    vals = row[1]
    for i in range(len(vals)):
        compare_vals[col_vals[i]].append(vals[i])
ctr = 0
for row in ds_full.iterrows():
    vals = row[1]
    for i in range(len(vals)):
        orig_val = compare_vals[col_vals[i]][ctr]
        compare_vals[col_vals[i]][ctr] = (orig_val, vals[i])
    ctr += 1

{'Borough Name': [('Brooklyn', 'BROOKLYN'), ('Brooklyn', 'BROOKLYN'), ('Brooklyn', 'BROOKLYN'), ('Staten Island', 'STATEN ISLAND'), ('Brooklyn', 'BROOKLYN'), ('Queens', 'QUEENS'), ('Brooklyn', 'BROOKLYN'), ('Staten Island', 'STATEN ISLAND'), ('Queens', 'QUEENS'), ('Brooklyn', 'BROOKLYN'), ('Brooklyn', 'BROOKLYN'), ('Brooklyn', 'BROOKLYN'), ('Staten Island', 'STATEN ISLAND'), ('Brooklyn', 'BROOKLYN'), ('Brooklyn', 'BROOKLYN'), ('Brooklyn', 'BROOKLYN'), ('Brooklyn', 'BROOKLYN'), ('Queens', 'QUEENS'), ('Queens', 'QUEENS'), ('Brooklyn', 'BROOKLYN'), ('Brooklyn', 'BROOKLYN'), ('Brooklyn', 'BROOKLYN'), ('Manhattan', 'MANHATTAN'), ('Brooklyn', 'BROOKLYN'), ('Queens', 'QUEENS'), ('Queens', 'QUEENS'), ('Brooklyn', 'BROOKLYN'), ('Brooklyn', 'BROOKLYN'), ('Brooklyn', 'BROOKLYN'), ('Queens', 'QUEENS'), ('Queens', 'QUEENS'), ('Bronx', 'BRONX'), ('Brooklyn', 'BROOKLYN'), ('Brooklyn', 'BROOKLYN'), ('Manhattan', 'MANHATTAN'), ('Queens', 'QUEENS'), ('Brooklyn', 'BROOKLYN'), ('Brooklyn', 'BROOKLYN'), ('Manhattan', 'MANHATTAN'), ('Brooklyn', 'BROOKLYN'), ('Queens', 'QUEENS'), ('Brooklyn', 'BROOKLYN'), ('Brooklyn', 'BROOKLYN'), ('Queens', 'QUEENS'), ('Brooklyn', 'BROOKLYN'), ('Manhattan', 'MANHATTAN'), ('Queens', 'QUEENS'), ('Manhattan', 'MANHATTAN'), ('Staten Island', 'STATEN ISLAND'), ('Brooklyn', 'BROOKLYN'), ('Queens', 'QUEENS'), ('Manhattan', 'MANHATTAN'), ('Manhattan', 'MANHATTAN'), ('Brooklyn', 'BROOKLYN'), ('Queens', 'QUEENS'), ('Queens', 'QUEENS'), ('Brooklyn', 'BROOKLYN'), ('Manhattan', 'MANHATTAN'), ('Brooklyn', 'BROOKLYN'), ('Brooklyn', 'BROOKLYN'), ('Brooklyn', 'BROOKLYN'), ('Brooklyn', 'BROOKLYN'), ('Brooklyn', 'BROOKLYN'), ('Brooklyn', 'BROOKLYN'), ('Manhattan', 'MANHATTAN'), ('Queens', 'QUEENS'), ('Brooklyn', 'BROOKLYN'), ('Queens', 'QUEENS'), ('Queens', 'QUEENS'), ('Queens', 'QUEENS'), ('Manhattan', 'MANHATTAN'), ('Queens', 'QUEENS'), ('Queens', 'QUEENS'), ('Queens', 'QUEENS'), ('Brooklyn', 'BROOKLYN'), ('Manhattan', 'MANHATTAN'), ('Brooklyn', 'BROOKLYN'), ('Brooklyn', 'BROOKLYN'), ('Manhattan', 'MANHATTAN'), ('Brooklyn', 'BROOKLYN'), ('Brooklyn', 'BROOKLYN'), ('Manhattan', 'MANHATTAN'), ('Queens', 'QUEENS'), ('Brooklyn', 'BROOKLYN'), ('Queens', 'QUEENS'), ('Manhattan', 'MANHATTAN'), ('Brooklyn', 'BROOKLYN'), ('Manhattan', 'MANHATTAN'), ('Brooklyn', 'BROOKLYN'), ('Queens', 'QUEENS'), ('Queens', 'QUEENS'), ('Brooklyn', 'BROOKLYN'), ('Brooklyn', 'BROOKLYN'), ('Brooklyn', 'BROOKLYN'), ('Brooklyn', 'BROOKLYN'), ('Queens', 'QUEENS')], 'Street Name': [('14 STREET                       ', '14 ST'), ('NORTH    7 STREET               ', 'NORTH 7 ST'), ('KANE STREET                     ', 'KANE ST'), ('VETERANS ROAD WEST              ', 'VETERANS ROAD WEST'), ('DEAN STREET                     ', 'DEAN ST'), ('BEACH 5 STREET                  ', 'BEACH 5 ST'), ('KANE STREET                     ', 'KANE ST'), ('BROAD STREET                    ', 'BROAD ST'), ('  42 AVENUE                     ', '42 AVE'), ('FRANKLIN AVENUE                 ', 'FRANKLIN AVE'), ('BAY 23 STREET                   ', 'BAY 23 ST'), ('DEKALB AVENUE                   ', 'DEKALB AVE'), ('BROAD STREET                    ', 'BROAD ST'), ('SOUTH    8 STREET               ', 'SOUTH 8 ST'), ('FLUSHING AVENUE                 ', 'FLUSHING AVE'), ('TROUTMAN STREET                 ', 'TROUTMAN ST'), ('EAST   26 STREET                ', 'EAST 26 ST'), ('  44 DRIVE                      ', '44 DR'), ('  27 STREET                     ', '27 ST'), ('TROUTMAN STREET                 ', 'TROUTMAN ST'), ('  44 STREET                     ', '44 ST'), ('WYCKOFF AVENUE                  ', 'WYCKOFF AVE'), ('BROADWAY                        ', 'BROADWAY'), ('  57 STREET                     ', '57 ST'), ('231 STREET                      ', '231 ST'), ('BARBADOES DRIVE                 ', 'BARBADOES DR'), ('  13 STREET                     ', '13 ST'), ('  45 STREET                     ', '45 ST'), ('MILFORD STREET                  ', 'MILFORD ST'), ('WETHEROLE STREET                ', 'WETHEROLE ST'), ('GRAND AVENUE                    ', 'GRAND AVE'), ('CANNON PLACE                    ', 'CANNON PLACE'), ('EAST   28 STREET                ', 'EAST 28 ST'), ('THIRD AVENUE                    ', '3 AVE'), ('EAST HOUSTON STREET             ', 'EAST HOUSTON ST'), ('B 5 STREET                      ', 'B 5 ST'), ('KNAPP STREET                    ', 'KNAPP ST'), ('  54 STREET                     ', '54 ST'), ('WEST 24 STREET                  ', 'WEST 24 ST'), ('EAST 13 STREET                  ', 'EAST 13 ST'), ('155 STREET                      ', '155 ST'), ('NORTH    9 STREET               ', 'NORTH 9 ST'), ('DEVOE STREET                    ', 'DEVOE ST'), ('BEACH 65 STREET                 ', 'BEACH 65 ST'), ('CLASSON AVENUE                  ', 'CLASSON AVE'), ('BEEKMAN STREET                  ', 'BEEKMAN ST'), ('LYMAN STREET                    ', 'LYMAN ST'), ('WEST  129 STREET                ', 'WEST 129 ST'), ('AMBOY ROAD                      ', 'AMBOY RD'), ('MARCY AVENUE                    ', 'MARCY AVE'), ('QUEENS MIDTOWN EXPRESSWAY       ', 'QUEENS MIDTOWN EXPY'), ('EAST   46 STREET                ', 'EAST 46 ST'), ('CHURCH STREET                   ', 'CHURCH ST'), ('FRANKLIN AVENUE                 ', 'FRANKLIN AVE'), ('SEAGIRT AVENUE                  ', 'SEAGIRT AVE'), (' 222 STREET                     ', '222 ST'), ('WEST    4 STREET                ', 'WEST 4 ST'), ('GREAT JONES STREET              ', 'GREAT JONES ST'), ('CATON PLACE                     ', 'CATON PLACE'), ('NORTH   12 STREET               ', 'NORTH 12 ST'), ('QUINCY STREET                   ', 'QUINCY ST'), ('  49 STREET                     ', '49 ST'), ('EAST   13 STREET                ', 'EAST 13 ST'), ('HALSEY STREET                   ', 'HALSEY ST'), ('WEST  100 STREET                ', 'WEST 100 ST'), ('SEAGIRT BOULEVARD               ', 'SEAGIRT BLVD'), ('RODNEY STREET                   ', 'RODNEY ST'), ('QUEENS BOULEVARD                ', 'QUEENS BLVD'), ('HILLSIDE AVENUE                 ', 'HILLSIDE AVE'), ('THOMSON AVENUE                  ', 'THOMSON AVE'), ('WEST 24 STREET                  ', 'WEST 24 ST'), (' 143 AVENUE                     ', '143 AVE'), ('MERRICK BOULEVARD               ', 'MERRICK BLVD'), ('HOLLAND AVENUE                  ', 'HOLLAND AVE'), ('MONTGOMERY STREET               ', 'MONTGOMERY ST'), ('JEFFERSON STREET                ', 'JEFFERSON ST'), ('LORIMER STREET                  ', 'LORIMER ST'), ('  59 STREET                     ', '59 ST'), ('HESTER STREET                   ', 'HESTER ST'), ('MANHATTAN AVENUE                ', 'MANHATTAN AVE'), ('BRIGHTON 1 PLACE                ', 'BRIGHTON 1 PLACE'), ('EAST    8 STREET                ', 'EAST 8 ST'), (' 145 STREET                     ', '145 ST'), ('DIVISION AVENUE                 ', 'DIVISION AVE'), ('  41 AVENUE                     ', '41 AVE'), ('CHAMBERS STREET                 ', 'CHAMBERS ST'), ('PACIFIC STREET                  ', 'PACIFIC ST'), ('WEST   14 STREET                ', 'WEST 14 ST'), ('BRIDGE STREET                   ', 'BRIDGE ST'), ('SEAGIRT AVENUE                  ', 'SEAGIRT AVE'), ('43 AVENUE                       ', '43 AVE'), ('DOWNING STREET                  ', 'DOWNING ST'), ('STANHOPE STREET                 ', 'STANHOPE ST'), ('WEST    5 STREET                ', 'WEST 5 ST'), ('PACIFIC STREET                  ', 'PACIFIC ST'), ('BEACH CHANNEL DRIVE             ', 'BEACH CHANNEL DR')], 'House Number': [('391         ', '391         '), ('205         ', '205         '), ('103         ', '103         '), ('351         ', '351         '), ('340         ', '340         '), ('128         ', '128         '), ('113         ', '113         '), ('43          ', '43          '), ('240-17      ', '240-17      '), ('168         ', '168         '), ('221         ', '221         '), ('1209        ', '1209        '), ('47          ', '47          '), ('50          ', '50          '), ('565         ', '565         '), ('31          ', '31          '), ('2743        ', '2743        '), ('21-16       ', '21-16       '), ('42-53       ', '42-53       '), ('51          ', '51          '), ('1270        ', '1270        '), ('142         ', '142         '), ('233         ', '233         '), ('1517        ', '1517        '), ('115-38      ', '115-38      '), ('607         ', '607         '), ('289         ', '289         '), ('1548        ', '1548        '), ('491         ', '491         '), ('64-64       ', '64-64       '), ('72-19       ', '72-19       '), ('3475        ', '3475        '), ('227         ', '227         '), ('9907        ', '9907        '), ('49          ', '49          '), ('140         ', '140         '), ('2433        ', '2433        '), ('1728        ', '1728        '), ('146         ', '146         '), ('1016        ', '1016        '), ('107-33      ', '107-33      '), ('212         ', '212         '), ('40          ', '40          '), ('311         ', '311         '), ('449         ', '449         '), ('5           ', '5           '), ('88-20       ', '88-20       '), ('145         ', '145         '), ('3803        ', '3803        '), ('386         ', '386         '), ('70-25       ', '70-25       '), ('315         ', '315         '), ('99          ', '99          '), ('172         ', '172         '), ('510         ', '510         '), ('94-31       ', '94-31       '), ('1414        ', '1414        '), ('25          ', '25          '), ('22          ', '22          '), ('210         ', '210         '), ('292         ', '292         '), ('1520        ', '1520        '), ('1769        ', '1769        '), ('424         ', '424         '), ('204         ', '204         '), ('805         ', '805         '), ('298         ', '298         '), ('30-11       ', '30-11       '), ('178-02      ', '178-02      '), ('28-23       ', '28-23       '), ('552         ', '552         '), ('219-30      ', '219-30      '), ('222-01      ', '222-01      '), ('90-04       ', '90-04       '), ('295         ', '295         '), ('14          ', '14          '), ('630         ', '630         '), ('244         ', '244         '), ('126         ', '126         '), ('250         ', '250         '), ('52          ', '52          '), ('401         ', '401         '), ('130-33      ', '130-33      '), ('176         ', '176         '), ('29-37       ', '29-37       '), ('87          ', '87          '), ('210         ', '210         '), ('245         ', '245         '), ('187         ', '187         '), ('716         ', '716         '), ('72-38       ', '72-38       '), ('8           ', '8           '), ('303         ', '303         '), ('1447        ', '1447        '), ('949         ', '949         '), ('24-37       ', '24-37       ')], 'Community Board': [('306', '306'), ('301', '301'), ('306', '306'), ('503', '503'), ('302', '302'), ('414', '414'), ('306', '306'), ('501', '501'), ('411', '411'), ('303', '303'), ('311', '311'), ('304', '304'), ('501', '501'), ('301', '301'), ('301', '301'), ('304', '304'), ('315', '315'), ('402', '402'), ('402', '402'), ('304', '304'), ('312', '312'), ('304', '304'), ('101', '101'), ('312', '312'), ('413', '413'), ('414', '414'), ('306', '306'), ('312', '312'), ('305', '305'), ('406', '406'), ('405', '405'), ('208', '208'), ('317', '317'), ('310', '310'), ('102', '102'), ('414', '414'), ('315', '315'), ('312', '312'), ('104', '104'), ('314', '314'), ('412', '412'), ('301', '301'), ('301', '301'), ('414', '414'), ('303', '303'), ('101', '101'), ('413', '413'), ('110', '110'), ('503', '503'), ('301', '301'), ('405', '405'), ('106', '106'), ('101', '101'), ('303', '303'), ('414', '414'), ('413', '413'), ('311', '311'), ('102', '102'), ('307', '307'), ('301', '301'), ('303', '303'), ('312', '312'), ('315', '315'), ('303', '303'), ('107', '107'), ('414', '414'), ('301', '301'), ('401', '401'), ('412', '412'), ('402', '402'), ('104', '104'), ('413', '413'), ('413', '413'), ('414', '414'), ('309', '309'), ('103', '103'), ('301', '301'), ('307', '307'), ('103', '103'), ('301', '301'), ('313', '313'), ('103', '103'), ('412', '412'), ('301', '301'), ('401', '401'), ('101', '101'), ('302', '302'), ('104', '104'), ('302', '302'), ('414', '414'), ('404', '404'), ('302', '302'), ('304', '304'), ('311', '311'), ('308', '308'), ('414', '414')]}

# Export Results to csv

In [17]:
# Uncomment to write the cleaned data to a csv file
#ds_full.write('./cleaned_data.csv')