# Read in the dataset

In [1]:
import gzip
import os
import humanfriendly
import numpy as np
import pandas as pd

from openclean.data.source.socrata import Socrata

import warnings
warnings.filterwarnings('ignore')

# Original dataset
dob_historical_permit_issuance_id = 'bty7-2jhb'
# Other datasets with overlapping fields
dob_cellular_antenna_filings_id = 'iz2q-9x8d'
dob_C_of_O_id = 'bs8b-p36w'
nyc_restaurant_inspection_id = '43nn-pn8j'

residential_addresses_id = '3ub5-4ph8'
charges_id = '5fn4-dr26'
trade_waste_hauler_licensees_id = '867j-5pgi'
inspections_id = 'jzhd-m6uv'

self_hauler_registrants_id = 'a8wp-rerh'
dob_electrical_permit_applications_id = 'dm9a-ab7w'
dob_stalled_const_sites_id = 'i296-73x5'

# Set the unique id of the dataset you want to use here
db_id = residential_addresses_id

# Dictionary for the name of target columns in each data set
## Dictionary String values:
#### - Borough
#### - Street
#### - Number
#### - Block
#### - Lot
#### - Community Board
## Dictionary List values:
#### - City
#### - State
#### - First Name
#### - Last Name
#### - Additional Street
#### - Additional Number
column_name_mapping = {dob_historical_permit_issuance_id: {'Borough': 'BOROUGH', 
                                                           'City': ["Owner’s House City",],
                                                           'Street': 'Street',
                                                           'Number': 'Number',
                                                           'Block': 'Block',
                                                           'Lot': 'Lot',
                                                           'State': ["Owner’s House State",],
                                                           'Community Board': 'Community Board',
                                                           'First Name': [
                                                               "Permittee's First Name",
                                                               "Site Safety Mgr's First Name",
                                                               "Owner's First Name",
                                                           ],
                                                          'Last Name': [
                                                              "Permittee's Last Name",
                                                              "Site Safety Mgr's Last Name",
                                                              "Owner's Last Name",
                                                          ],
                                                          'Additional Street': [
                                                              "Owner's House Street Name",
                                                          ],
                                                          'Additional Number': [
                                                              "Owner's House #",
                                                          ],},
                       dob_cellular_antenna_filings_id: {'Borough': 'Borough', 
                                                           'City': ['City',],
                                                           'Street': 'Street Name',
                                                           'Number': 'House #',
                                                           'Block': 'Block',
                                                           'Lot': 'Lot',
                                                            'State': ['State',],
                                                           'Community Board': 'Community - Board',
                                                           'First Name': [
                                                               "Applicant's First Name",
                                                               "Owner's First Name",
                                                           ],
                                                           'Last Name': [
                                                             "Applicant's Last Name",
                                                               "Owner's Last Name",
                                                           ],
                                                          'Additional Street': [
                                                              "Owner's  House Street",
                                                          ],
                                                          'Additional Number': [
                                                              "Owner's  House #",
                                                          ],},
                       dob_C_of_O_id: {'Borough': 'BOROUGH', 
                                       'Street': 'STREET',
                                       'Number': 'NUMBER',
                                       'Block': 'BLOCK',
                                       'Lot': 'LOT',
                                      'Community Board': 'COMMUNITY_BOARD',},
                       nyc_restaurant_inspection_id: {'Borough': 'BORO', 
                                           'Street': 'STREET',
                                           'Number': 'BUILDING',
                                           'Community Board': 'Community Board',},
                       residential_addresses_id: {'Borough': 'BOROUGH', 
                                       'Street': 'STREET',
                                       'Number': 'HOUSE #',
                                       'Block': 'BLOCK',
                                       'Lot': 'LOT',
                                      'Community Board': 'COMMUNITY DISTRICT',},
                       
                       charges_id: {'Borough' : 'Borough',
                                    'Street': 'Street',
                                    'Number': 'Building Number',
                                    'City' : ['City',],
                                    'State': ['State',],},
                       
                       trade_waste_hauler_licensees_id: {'Borough' : 'BORO',
                                                        'Street': 'ADDRESS',
                                                        'City' : ['CITY',],
                                                        'State': ['STATE',],},
                       
                       inspections_id: {'Borough' : 'Borough',
                                        'Street': 'Street',
                                        'Number': 'Building Number',
                                        'City' : ['City',],
                                        'State': ['State',],},
                       self_hauler_registrants_id: {'Borough' : 'BORO',
                                                    'Street' : 'ADDRESS',
                                                     'City': ['CITY',],
                                                     'State': ['STATE',],
                                                     'Community Board': 'COMMUNITY BOARD',
                                                   },
                       dob_electrical_permit_applications_id : {'Borough': 'BOROUGH',
                                                           'City': ["CITY","OWNER_CITY"],
                                                           'Street': 'STREET_NAME',
                                                           'Number': 'HOUSE_NUMBER',
                                                           'Block': 'BLOCK',
                                                           'Lot': 'LOT',
                                                           'State': ["STATE","OWNER_STATE"],
                                                           'Community Board': 'COMMUNITY_BOARD',
                                                           'First Name': [
                                                               "APPLICANT_FIRST_NAME",
                                                               "OWNER_FIRST_NAME",
                                                               "AUTH_REP_FIRST_NAME",
                                                           ],
                                                          'Last Name': [
                                                              "APPLICANT_LAST_NAME",
                                                              "OWNER_LAST_NAME",
                                                              "AUTH_REP_LAST_NAME",
                                                          ],
                                                        },
                       dob_stalled_const_sites_id: {'Borough' : 'Borough Name',
                                                    'Street' : 'Street Name',
                                                    'Number' : 'House Number',
                                                     'Community Board': 'Community Board',
                                                   },
                      }

dataset = Socrata().dataset(db_id)

datafile = f'./{db_id}.tsv.gz'

# Download file if it doesn't exist
if not os.path.isfile(datafile):
    with gzip.open(datafile, 'wb') as  f:
        print('Downloading ...\n')
        dataset.write(f)

fsize = humanfriendly.format_size(os.stat(datafile).st_size)
print(f'Using "{dataset.name}" in file {datafile} of size {fsize}')

Using "NYCHA Residential Addresses" in file ./3ub5-4ph8.tsv.gz of size 129.25 KB

## Create data stream

In [2]:
from openclean.pipeline import stream

ds_full = stream(datafile)

# sampling n = 385
# Porportion, Condifence level 95%, 
# population size = infinite, Expected proportion = 0.5, Margin of error = 5%

ds_portion = ds_full.sample(n = 385)

## Initial Profile

In [4]:
from openclean.profiling.column import DefaultColumnProfiler

target_cols = []
for v in column_name_mapping[db_id].values():
    if type(v) == list:
        target_cols.extend(v)
    else:
        target_cols.append(v)
profiles = ds_portion.select(columns=target_cols).profile(default_profiler=DefaultColumnProfiler)
beforeCleaned = profiles.stats()
beforeCleaned

                    total  empty  distinct  uniqueness   entropy
BOROUGH               385      0         5    0.012987  2.063419
STREET                385      0       230    0.597403  7.568360
HOUSE #               385      0       354    0.919481  8.423754
BLOCK                 385      0       197    0.511688  7.184238
LOT                   385      0        64    0.166234  3.336418
COMMUNITY DISTRICT    385      0        17    0.044156  3.835946

## For comparison at the end

In [5]:
beforeBoro = ds_portion.distinct('BOROUGH')
beforeStreet = ds_portion.distinct('STREET')
beforeHouse = ds_portion.distinct('HOUSE #')
beforeBlock = ds_portion.distinct('BLOCK')
beforeLot = ds_portion.distinct('LOT')
beforeComDistrict = ds_portion.distinct('COMMUNITY DISTRICT')

### Method to generate a histogram

In [6]:
def get_histogram(data_set, column_name):
    print(f'\n{column_name}:')
    value = data_set.distinct(column_name)
    for rank, val in enumerate(value.most_common()):
        v, freq = val
        print(f'{rank+1:<3} {v} {freq:>10,}')

## Clean Borough data

In [7]:
def clean_borough_name(name):
    boroughs = ['MANHATTAN', 'BRONX', 'BROOKLYN', 'QUEENS', 'STATEN ISLAND']
    if is_empty(name):
        return 'N/A'
    elif name == '1':
        return 'MANHATTAN'
    elif name == '2':
        return 'BRONX'
    elif name == '3':
        return 'BROOKLYN'
    elif name == '4':
        return 'QUEENS'
    elif name == '5':
        return 'STATEN ISLAND'
    elif name.upper() in boroughs:
        return name.upper()
    else:
        return 'N/A'

def clean_borough_data(ds, column_name):
    cleaned_data = ds.update(column_name, lambda x: clean_borough_name(x))
    return cleaned_data

## Clean city data

In [8]:
from fuzzywuzzy import fuzz
import json

from openclean.data.refdata import RefStore
from openclean.function.value.null import is_empty

def clean_city_name(name, valid_city_lookup):
    if is_empty(name):
        return 'N/A'
    return valid_city_lookup.get(name.upper(), 'N/A')


def clean_city_data(ds, column_name):
    # Download the license plate state codes dataset.
    refdata = RefStore()
    refdata\
        .load('encyclopaedia_britannica:us_cities', auto_download=True)\
        .df()\

    # Get set of distinct state codes.
    city_ref = refdata.load('encyclopaedia_britannica:us_cities', auto_download=True).distinct('city')
    # Get list of distinct owner house city names
    city_names = ds.distinct(column_name)
    # Init lookup dictionary for fuzzy matching
    city_ref_lookup = {}
    ref_file_name = 'city_ref_lookup.json'
    # 
    if os.path.isfile(ref_file_name):
        with open(ref_file_name) as f:
            city_ref_lookup = json.load(f)
    # compare city name to each valid city and add to lookup table
    # if the similarity is high enough
    for city in city_names:
        if is_empty(city):
            continue
        name = city.lstrip().rstrip().upper()
        if city_ref_lookup.get(name):
            continue
        if (name == 'NYC' or 
              name == 'NY' or
              fuzz.ratio('NY', name) > 70 or
              fuzz.ratio('NYC', name) > 70):
            city_ref_lookup[name] = 'NEW YORK'
            continue
        found_match = False
        for valid_city in city_ref:
            percent_match = fuzz.ratio(valid_city.upper(), name)
            if percent_match > 70:
                found_match = True
                city_ref_lookup[name] = valid_city.upper()
                break
        if not found_match:
            city_ref_lookup[name] = 'N/A'

    cleaned_data = ds.update(column_name, lambda x: clean_city_name(x, city_ref_lookup))
    with open(ref_file_name, 'w') as f:
        json.dump(city_ref_lookup, f)
    return cleaned_data

## Clean state data

In [9]:
def clean_state(name, states_ref):
    # Return 'N/A' if the state value is invalid
    if name not in states_ref:
        return 'N/A'
    else:
        return name

def clean_state_data(ds, column_name):
    # Download the license plate state codes dataset.
    refdata = RefStore()
    refdata\
        .load('nyc.gov:dof:state_codes', auto_download=True)\
        .df()\
        .head()

    # Get set of distinct state codes.
    states_ref = refdata.load('nyc.gov:dof:state_codes', auto_download=True).distinct('code')

    cleaned_data = ds.update(column_name, lambda x: clean_state(x, states_ref))
    return cleaned_data

## Clean U.S. Street data

In [10]:
from openclean_geo.address.usstreet import StandardizeUSStreetName

def clean_street_name(name):
    # Replace empty data with 'N/A'
    if is_empty(name):
        return 'N/A'
    # Function to help standardize the street names
    street_func = StandardizeUSStreetName(characters='upper', alphanum=True, repeated=False)
    name = ''.join(street_func.apply([name], threads=None))
    # The conditional statements below are used to try and reduce the remaining
    # number of outlier data by fixing some common errors revealed in the histogram.
    if name == 'CLARKE PLACE EAST':
        name = 'EAST CLARKE PLACE'
    elif name == 'EAST BEDFORD PARK BLVD':
        name = 'BEDFORD PARK BLVD EAST'
    elif name == 'WTC':
        name = 'WORLD TRADE CTR'
    elif name == 'TIME SQ':
        name = 'TIMES SQ'
    elif name == 'PITT':
        name = 'PITT ST'
    elif name == 'BOGARDUS':
        name = 'BOGARDUS PLACE'
    elif name == 'NAGLE':
        name = 'NAGLE AVE'
    elif name == 'SHEPHERD':
        name = 'SHEPHERD AVE'

    split_name = name.split()
    if len(split_name) == 0:
        return 'N/A'
    
    if split_name[-1] in ['SSTREET', 'STRET', 'STREET', 'STREE']:
        split_name[-1] = 'ST'
    elif split_name[-1] == 'PL':
        split_name[-1] = 'PLACE'
    elif split_name[-1].isnumeric():
        split_name.append('ST')
    elif split_name[0] == 'ST':
        split_name[0] = 'SAINT'
    elif split_name[-1] == 'E':
        split_name[-1] = 'EAST'
    elif split_name[-1] == 'W':
        split_name[-1] = 'WEST'
    elif split_name[-1] == 'N':
        split_name[-1] = 'NORTH'
    elif split_name[-1] in ['S', 'SOUIH']:
        split_name[-1] = 'SOUTH'
    elif split_name[-1] in ['BLDV', 'BLV', 'BOULEVARD', 'BOOULEVARD']:
        split_name[-1] = 'BLVD'

    name = ' '.join(split_name)

    return name

def clean_street_data(ds, column_name):
    cleaned_data = ds.update(column_name, lambda x: clean_street_name(x))
    return cleaned_data

## Clean building number

In [11]:
def clean_number(num):
    if is_empty(num):
        return 'N/A'
    # remove any leading zero's
    num = num.lstrip('0')
    if len(num) == 0:
        return 'N/A'

    return num

def clean_building_number_data(ds, column_name):
    cleaned_data = ds.update(column_name, lambda x: clean_number(x)) 
    return cleaned_data

## Clean block and lot data

In [12]:
import requests
import urllib.parse

# Make a request the url to try and find the block and lot for an address.
# Replace missing data with N/A if it fails to find a value
# This requires you to first clean street and number data
def get_block_and_lot(borough, number, street, block, lot):
    # Return if block and lot are already filled in
    if not is_empty(block) and not is_empty(lot):
        return borough, number, street, block, lot
    if not is_empty(number) and not is_empty(street):
        req = f'https://stevemorse.org/vital/nycblocklot.php?borough={borough.title()}&number={number}&street={urllib.parse.quote(street.title())}'
        r = requests.get(req)
        if r.text == "Callback('?', '?');":
            # Try again without applying title() to street value
            req = f'https://stevemorse.org/vital/nycblocklot.php?borough={borough.title()}&number={number}&street={urllib.parse.quote(street)}'
            r = requests.get(req)
        if r.status_code == 200:
            r_str = r.text.removeprefix('Callback(').removesuffix(');').replace("'", '')
            block_lot = r_str.split(',')
            if is_empty(block):
                block = block_lot[0].strip()
            if is_empty(lot):
                lot = block_lot[1].strip()
    # Return 'N/A' if the web app was unable to find the block and lot data
    # for this input
    block = 'N/A' if block == '?' else block
    if is_empty(block):
        block = 'N/A'
    lot = 'N/A' if lot == '?' else lot
    if is_empty(lot):
        lot = 'N/A'
    return borough, number, street, block, lot

# needed_columns is a list of names for the five columns that hold borough, number, street, block, and lot
## Ex: clean_block_and_lot(ds_full, ['BOROUGH','Number','Street','Block','Lot'])
def clean_block_and_lot(ds, needed_columns):
    cleaned_data = ds.update(needed_columns, lambda bo, n, s, bl, l: get_block_and_lot(bo, n, s, bl, l))
    return cleaned_data

## Clean community board data

In [13]:
# Replace missing or incorrect data with N/A
def fix_community_board_data(data):
    is_valid = True
    if not is_empty(data) and len(data) == 3:
        for i in range(3):
            if not data[i].isnumeric():
                is_valid = False
                break
    else:
        is_valid = False
    if is_valid and data[0].isnumeric():
        if int(data[0]) > 5:
            is_valid = False
    if is_valid:
        return data
    else:
        return 'N/A'

def clean_community_board_data(ds, column_name):
    cleaned_data = ds.update(column_name, lambda x: fix_community_board_data(x)) 
    return cleaned_data

## Clean first name

In [14]:
def clean_first_name(name):
    if is_empty(name):
        return 'N/A'
    
    name = name.removeprefix('MR. ')
    name = name.removeprefix('MR ')
    name = name.removeprefix('\\')
    name = name.removeprefix(' ')
    name = name.strip('_')

    # Getting the first name only
    # some names contain '-', " ", "_", "/" between first and middle name
    name = name.split(" ")[0]
    name = name.split("-")[0]
    name = name.split("/")[0]
    name = name.split("\\")[0]
    name = name.split("_")[0]

    # further clean the first name
    name = name.strip("_")
    name = name.strip("`")
    name = name.strip("\\")
    name = name.strip("{")
    name = name.strip(".")                                                                      
    name = name.strip("-")                                                                    
    name = name.strip(",")

    # Not-a-name & missing value rows are given "NA"
    if is_empty(name) or name.isnumeric():
        return 'N/A'

    return name

def clean_first_name_data(ds, column_name):
    cleaned_data = ds.update(column_name, lambda x: clean_first_name(x)) 
    return cleaned_data

## Clean last name

In [15]:
def clean_last_name(name):
    if is_empty(name):
        return 'N/A'
    name = name.removeprefix('\\\\')
    name = name.removeprefix('\\')
    name = name.removeprefix('\\ ')
    name = name.removeprefix('/')
    name = name.removeprefix('\\\'')
    name = name.removeprefix('0 ')
    name = name.removeprefix('11 ')
    name = name.strip('_')
    # Getting the last name only
    # some names contain '-', " ", "_", "/" between first and middle name
    name = name.split(" ")[0]
    name = name.split("-")[0]
    name = name.split("/")[0]
    name = name.split("\\")[0]
    name = name.split("_")[0]

    # further clean the last name
    name = name.strip("_")
    name = name.strip("`")
    name = name.strip("\\")
    name = name.strip("{")
    name = name.strip(".")                                                                      
    name = name.strip("-")                                                                    
    name = name.strip(",")

    # Not-a-name & missing value rows are given "NA"
    if is_empty(name) or name.isnumeric():
        return 'N/A'

    return name

def clean_last_name_data(ds, column_name):
    cleaned_data = ds.update(column_name, lambda x: clean_last_name(x)) 
    return cleaned_data

## Run clean data methods

In [16]:
col_mapper = column_name_mapping.get(db_id)
if col_mapper.get('Borough'):
    #ds_full = clean_borough_data(ds_full, col_mapper['Borough'])
    ds_portion = clean_borough_data(ds_portion, col_mapper['Borough'])
    
if col_mapper.get('Street'):
    #ds_full = clean_street_data(ds_full, col_mapper['Street'])
    ds_portion = clean_street_data(ds_portion, col_mapper['Street'])
if col_mapper.get('Number'):
    #ds_full = clean_building_number_data(ds_full, col_mapper['Number'])
    ds_portion = clean_building_number_data(ds_portion, col_mapper['Number'])
       
if (col_mapper.get('Block') 
      and col_mapper.get('Lot')
      and col_mapper.get('Borough')
      and col_mapper.get('Number')
      and col_mapper.get('Street')):
    args_list = [col_mapper['Borough'], col_mapper['Number'], col_mapper['Street'],
                 col_mapper['Block'], col_mapper['Lot']]
    #ds_full = clean_block_and_lot(ds_full, args_list)
    ds_portion = clean_block_and_lot(ds_portion, args_list)
    
if col_mapper.get('Community Board'):
    #ds_full = clean_community_board_data(ds_full, col_mapper['Community Board'])
    ds_portion = clean_community_board_data(ds_portion, col_mapper['Community Board'])
    
# The following attributes are stored as lists
if col_mapper.get('City'):
    for col in col_mapper['City']:
        #ds_full = clean_city_data(ds_full, col)
        ds_portion = clean_city_data(ds_portion, col)
        
if col_mapper.get('State'):
    for col in col_mapper['State']:
        #ds_full = clean_state_data(ds_full, col)
        ds_portion = clean_state_data(ds_portion, col)
        
if col_mapper.get('First Name'):
    for col in col_mapper['First Name']:
        #ds_full = clean_first_name_data(ds_full, col)
        ds_portion = clean_first_name_data(ds_portion, col)
        
if col_mapper.get('Last Name'):
    for col in col_mapper['Last Name']:
        #ds_full = clean_last_name_data(ds_full, col)
        ds_portion = clean_last_name_data(ds_portion, col)
        
# Some data sets have multiple street and number columns that need to be cleaned.
# Since the Block and Lot data cleaning depend on a specific street and number column
# The "Additional" key is used to store the other relevant columns
if col_mapper.get('Additional Street'):
    for col in col_mapper['Additional Street']:
        #ds_full = clean_street_data(ds_full, col)
        ds_portion = clean_street_data(ds_portion, col)
    
if col_mapper.get('Additional Number'):
    for col in col_mapper['Additional Number']:
        #ds_full = clean_building_number_data(ds_full, col)
        ds_portion = clean_building_number_data(ds_portion, col)

## Profile after clean

In [17]:
target_cols = []
for v in column_name_mapping[db_id].values():
    if type(v) == list:
        target_cols.extend(v)
    else:
        target_cols.append(v)
profiles = ds_portion.select(columns=target_cols).profile(default_profiler=DefaultColumnProfiler)
afterCleaned = profiles.stats()

## Compare Results
#### Having a instant view of the data before and after the cleaning

In [18]:
beforeCleaned

                    total  empty  distinct  uniqueness   entropy
BOROUGH               385      0         5    0.012987  2.063419
STREET                385      0       230    0.597403  7.568360
HOUSE #               385      0       354    0.919481  8.423754
BLOCK                 385      0       197    0.511688  7.184238
LOT                   385      0        64    0.166234  3.336418
COMMUNITY DISTRICT    385      0        17    0.044156  3.835946

In [19]:
afterCleaned

                    total  empty  distinct  uniqueness   entropy
BOROUGH               385      0         5    0.012987  2.025649
STREET                385      0       218    0.566234  7.478004
HOUSE #               385      0       354    0.919481  8.418559
BLOCK                 385      0       189    0.490909  7.175365
LOT                   385      0        66    0.171429  3.741540
COMMUNITY DISTRICT    385      0         1    0.002597  0.000000

In [20]:
afterBoro = ds_portion.distinct('BOROUGH')
afterStreet = ds_portion.distinct('STREET')
afterHouse = ds_portion.distinct('HOUSE #')
afterBlock = ds_portion.distinct('BLOCK')
afterLot = ds_portion.distinct('LOT')
afterComDistrict = ds_portion.distinct('COMMUNITY DISTRICT')

In [21]:
beforeBoro

Counter({'BROOKLYN': 160,
         'MANHATTAN': 65,
         'BRONX': 82,
         'QUEENS': 61,
         'STATEN ISLAND': 17})

In [22]:
afterBoro

Counter({'BROOKLYN': 166,
         'BRONX': 89,
         'MANHATTAN': 67,
         'QUEENS': 53,
         'STATEN ISLAND': 10})

In [23]:
beforeStreet

Counter({'71ST AVENUE': 5,
         'HAMMELS BOULEVARD': 2,
         'METCALF AVENUE': 3,
         'RICHMOND TERRACE': 1,
         'BATCHELDER STREET': 4,
         'BRUCKNER BOULEVARD': 1,
         'BOND STREET': 1,
         'RALPH AVENUE': 8,
         'LORRAINE STREET': 1,
         'PITT STREET': 2,
         'AVENUE W': 3,
         'WESTCHESTER AVENUE': 1,
         '137TH STREET': 1,
         'WEST 103RD STREET': 3,
         'CLASON POINT LANE NORTH': 3,
         'TROY AVENUE': 1,
         'BENNETT COURT': 1,
         'ALBANY AVENUE': 2,
         'GRAFTON STREET': 1,
         'EAST 141ST STREET': 1,
         'UNION AVENUE': 1,
         'BERGEN STREET': 1,
         'MONROE STREET': 1,
         'EAGLE AVENUE': 3,
         'HOYT STREET': 3,
         '120TH AVENUE': 1,
         'FOUNTAIN AVENUE': 5,
         'AMSTERDAM AVENUE': 3,
         'CLAREMONT PARKWAY': 1,
         'LIVONIA AVENUE': 1,
         'MYRTLE AVENUE': 1,
         'DUMONT AVENUE': 6,
         'UNIVERSITY AVENUE': 3,
         'KISSENA BOULEVARD': 4,
         'WEST 64TH STREET': 1,
         'MILL STREET': 1,
         'EAST 70TH STREET': 1,
         'EAST 165TH STREET': 1,
         'WEST 25TH STREET': 1,
         'EAST 152ND STREET': 1,
         'SAINT ANNS AVENUE': 2,
         'WEST 61ST DRIVE': 1,
         'WEST 152ND STREET': 3,
         'WEST 62ND STREET': 1,
         'WEST 63RD STREET': 1,
         'LOCKMAN AVENUE': 1,
         'FREDERICK DOUGLASS BOULEVARD': 3,
         'STORY AVENUE': 5,
         'WHITE PLAINS ROAD': 1,
         'ADELPHI STREET': 1,
         'GATES AVENUE': 2,
         'HOWARD AVENUE': 8,
         'SCHOLES STREET': 2,
         'JACKSON STREET': 1,
         'WILLIAMS AVENUE': 2,
         '159TH STREET': 3,
         'PARSONS BOULEVARD': 5,
         'JEWEL AVENUE': 2,
         '3RD AVENUE': 4,
         'PEARL STREET': 1,
         'BRYANT AVENUE': 3,
         'EAST 117TH STREET': 1,
         'BRAGG STREET': 1,
         'HOE AVENUE': 1,
         'ELDRIDGE STREET': 1,
         'MARCY AVENUE': 1,
         'EAST 137TH STREET': 1,
         'WEST 26TH STREET': 1,
         'SCHLEY AVENUE': 3,
         'CASSIDY PLACE': 1,
         'HICKS STREET': 1,
         'KINGSBOROUGH 3RD WALK': 1,
         'FDR DRIVE': 1,
         'BRONXWOOD AVENUE': 1,
         'STERLING PLACE': 8,
         'KINGSBOROUGH 2ND WALK': 2,
         '133RD AVENUE': 1,
         'DWIGHT STREET': 1,
         'NOBLE AVENUE': 3,
         '31ST AVENUE': 3,
         '229TH DRIVE NORTH': 1,
         'VYSE AVENUE': 2,
         'BEACH CHANNEL DRIVE': 3,
         'STAGG WALK': 3,
         'FENIMORE STREET': 2,
         'BARUCH DRIVE': 1,
         'DEBEVOISE AVENUE': 1,
         'EAST 5TH STREET': 3,
         'DEKALB AVENUE': 1,
         'COLUMBIA STREET': 4,
         'BURKE AVENUE': 1,
         'WASHINGTON AVENUE': 2,
         'EAST 143RD STREET': 2,
         'LEWIS AVENUE': 2,
         '12TH STREET': 2,
         'SEAVIEW AVENUE': 1,
         'LAFAYETTE AVENUE': 5,
         '109TH AVENUE': 1,
         'RICHARDS STREET': 2,
         'SUTTER AVENUE': 2,
         '204TH STREET': 1,
         'MONUMENT WALK': 3,
         'EAST 102ND STREET': 4,
         'KINGSBOROUGH 5TH WALK': 1,
         'GOUVERNEUR STREET': 1,
         '51ST STREET': 1,
         'MADISON STREET': 1,
         'CLINTON STREET': 2,
         'EAST 115TH STREET': 1,
         'ROSEDALE AVENUE': 2,
         'SHORE PARKWAY': 1,
         'SAINT EDWARDS STREET': 1,
         'WEST 153RD STREET': 2,
         'EAST 145TH STREET': 1,
         'MACOMBS PLACE': 2,
         'FLUSHING AVENUE': 2,
         'ROCHESTER AVENUE': 1,
         'GLENMORE AVENUE': 1,
         'JEROME STREET': 1,
         '35TH AVENUE': 2,
         'AVENUE H': 1,
         'BAYVIEW AVENUE': 2,
         'LEXINGTON AVENUE': 1,
         'RICHMOND ROAD': 1,
         '112TH AVENUE': 1,
         'DONGAN HILLS AVENUE': 1,
         'LAMPORT BOULEVARD': 1,
         'AVENUE D': 2,
         'JEFFERSON STREET': 2,
         'EAST 149TH STREET': 1,
         'NOSTRAND AVENUE': 3,
         'ROCKAWAY BEACH BOULEVARD': 3,
         'EAST 129TH STREET': 1,
         'MARCUS GARVEY BOULEVARD': 1,
         'COLLEGE POINT BOULEVARD': 1,
         'BROADWAY': 2,
         'ROOSEVELT AVENUE': 1,
         'RANDALL AVENUE': 1,
         'REDFERN AVENUE': 2,
         'A C POWELL BOULEVARD': 2,
         'TEN EYCK WALK': 3,
         'MAUJER STREET': 3,
         'CUMBERLAND WALK': 2,
         'BAYCHESTER AVENUE': 2,
         'WEST 9TH STREET': 1,
         'HUMBOLDT STREET': 1,
         'WEST 151ST STREET': 2,
         'ROXBURY STREET': 2,
         'MANHATTAN AVENUE': 1,
         'STANTON STREET': 1,
         'EAST 6TH STREET': 2,
         'SCHENCK AVENUE': 2,
         '135TH PLACE': 1,
         'BLAKE AVENUE': 1,
         'MOTHER GASTON BOULEVARD': 2,
         'FLEET WALK': 1,
         'CLASSON AVENUE': 1,
         'EAST 153RD STREET': 1,
         'EAST 166TH STREET': 3,
         'SOUTH STREET': 1,
         'PAULDING AVENUE': 1,
         'SAMPSON AVENUE': 1,
         'HENDERSON AVENUE': 1,
         '114TH DRIVE': 1,
         'REV JAMES A POLITE AVENUE': 2,
         '115TH AVENUE': 1,
         'BOYNTON AVENUE': 1,
         'WILLIS AVENUE': 1,
         '226TH DRIVE': 1,
         'EAST 105TH STREET': 3,
         '34TH AVENUE': 1,
         '49TH STREET': 1,
         'AUBURN PLACE': 1,
         'POWELL STREET': 1,
         '166TH STREET': 1,
         'CROES AVENUE': 1,
         'AVENUE X': 1,
         'SANDS STREET': 1,
         'HEWITT PLACE': 3,
         '143RD STREET': 1,
         'LACONIA AVENUE': 1,
         '36TH AVENUE': 1,
         'MADISON AVENUE': 1,
         'GLENWOOD ROAD': 3,
         '191ST STREET': 1,
         'LOGAN STREET': 1,
         'CARLTON AVENUE': 1,
         'WEST 93RD STREET': 1,
         'WEST 19TH STREET': 1,
         'RUTGERS STREET': 1,
         'FARRAGUT ROAD': 3,
         'SAINT JOHNS PLACE': 1,
         'HARRISON AVENUE': 1,
         'VERNON BOULEVARD': 2,
         'EAST 108TH STREET': 2,
         'EAST 99TH STREET': 1,
         '5TH AVENUE': 1,
         'WEST 17TH STREET': 1,
         'STANLEY AVENUE': 1,
         'WAVERLY AVENUE': 1,
         'DEWEY AVENUE': 1,
         'TELLER AVENUE': 1,
         'BERRIMAN STREET': 1,
         'FERNSIDE PLACE': 1,
         '10TH AVENUE': 2,
         'PARK AVENUE': 1,
         'WEST 55TH STREET': 1,
         'DEAN STREET': 1,
         'EAST 56TH STREET': 1,
         'COZINE AVENUE': 1,
         'PATCHEN AVENUE': 1,
         'GRENADA PLACE': 3,
         'WEST 32ND STREET': 1,
         '10TH STREET': 1,
         'WEST 131ST STREET': 1,
         'TINTON AVENUE': 1,
         'WEST 112TH STREET': 1,
         'HARROD AVENUE': 1,
         'EAST 174TH STREET': 2,
         'WEST 117TH STREET': 1,
         'WEST 126TH STREET': 1,
         '187TH STREET': 1,
         'NORTH ELLIOT WALK': 1,
         'OSBORN STREET': 1,
         'EAST 93RD STREET': 1})

In [24]:
afterStreet

Counter({'LEXINGTON AVE': 2,
         '109 RD': 1,
         'KINGSBOROUGH 4 WALK': 1,
         'SCHOLES ST': 6,
         'COLUMBIA ST': 2,
         'SAINT JOHNS PLACE': 3,
         'AVENUE D': 3,
         'NOSTRAND AVE': 4,
         'AMSTERDAM AVE': 3,
         'EAST 152 ST': 2,
         'JACKSON ST': 2,
         'BEACH CHANNEL DR': 3,
         'LONGFELLOW AVE': 2,
         'LEWIS AVE': 2,
         'CLASON POINT LANE NORTH': 1,
         'LAFAYETTE AVE': 7,
         'LORING AVE': 1,
         'NEWTOWN RD': 2,
         'ALBANY AVE': 2,
         'LORRAINE ST': 2,
         'VERNON BLVD': 8,
         'FULTON AVE': 1,
         'BATCHELDER ST': 3,
         'EAST 163 ST': 2,
         'COURTLANDT AVE': 1,
         'BLAKE AVE': 3,
         'LA SALLE ST': 1,
         'GRAFTON ST': 2,
         'NORTH ELLIOT WALK': 2,
         'PARSONS BLVD': 7,
         'STERLING PLACE': 7,
         'EAST 143 ST': 1,
         'MOORE ST': 1,
         '1 AVE': 2,
         'BRAGG ST': 1,
         'NOBLE AVE': 4,
         'WEST 63 ST': 1,
         'METCALF AVE': 3,
         'MOTHER GASTON BLVD': 1,
         '3 AVE': 2,
         'ALASKA ST': 1,
         'MADISON AVE': 3,
         'EAST 5 ST': 2,
         'JEWEL AVE': 3,
         'FENIMORE ST': 2,
         'EAST 102 ST': 3,
         'BRONX PARK EAST': 1,
         'EAST 99 ST': 2,
         'WEST 115 ST': 1,
         '208 ST': 1,
         'CLAY AVE': 2,
         'SEWARD AVE': 4,
         '1 ST': 1,
         'LOGAN ST': 1,
         'STUYVESANT AVE': 2,
         'PROSPECT AVE': 1,
         'SUTTER AVE': 3,
         'WEST 26 ST': 1,
         'EAST 165 ST': 1,
         'ASTORIA BLVD': 1,
         'STORY AVE': 5,
         'BELMONT AVE': 1,
         'A C POWELL BLVD': 2,
         'FOUNTAIN AVE': 4,
         'KRAMER ST': 1,
         'HEGEMAN AVE': 1,
         'FOCH BLVD': 1,
         '12 ST': 3,
         '9 AVE': 1,
         'RALPH AVE': 4,
         'CASTLE HILL AVE': 1,
         'SCHLEY AVE': 1,
         'GRENADA PLACE': 1,
         'EAST 101 ST': 1,
         'WEST 8 ST': 1,
         'FDR DR': 2,
         'EAST 145 ST': 1,
         'CENTRE MALL': 1,
         'BEACH 56 ST': 2,
         'BARUCH DR': 2,
         'STAGG WALK': 3,
         'GLENMORE AVE': 1,
         'WEST 103 ST': 2,
         'NORTH OXFORD WALK': 1,
         '226 DR': 3,
         'EAST 14 ST': 1,
         'WAVERLY AVE': 2,
         'ROCHESTER AVE': 1,
         'DELANCEY ST': 1,
         'KINGSBOROUGH 3 WALK': 1,
         'EAST 110 ST': 1,
         'WATSON AVE': 1,
         '148 ST': 1,
         'CUMBERLAND WALK': 1,
         'BROADWAY': 2,
         'BRYANT AVE': 1,
         'HOWARD AVE': 4,
         'CAULDWELL AVE': 2,
         'WEST 27 ST': 1,
         'WEST 91 ST': 4,
         'CLASON POINT LANE SOUTH': 2,
         'WEST 25 ST': 2,
         'EAST 112 ST': 1,
         '10 ST': 5,
         'RICHMOND TER': 1,
         'MARCY AVE': 1,
         'WEST 31 ST': 1,
         'BRONXWOOD AVE': 1,
         'KINGSBOROUGH 1 WALK': 1,
         '207 ST': 1,
         'WILLOUGHBY AVE': 1,
         'KISSENA BLVD': 2,
         'BEACH 12 ST': 1,
         'PARK PLACE': 1,
         'TEN EYCK WALK': 3,
         'DEBEVOISE AVE': 2,
         'WEST 153 ST': 1,
         'OLINVILLE AVE': 1,
         'CALHOUN AVE': 1,
         'WESTCHESTER AVE': 1,
         'COLUMBUS AVE': 2,
         'HARLEM RIVER DR': 1,
         'EAST 229 ST': 1,
         'WHITE PLAINS RD': 1,
         'WEST 143 ST': 1,
         'FERNSIDE PLACE': 1,
         'MILL ST': 1,
         'LACONIA AVE': 1,
         'SEAVER AVE': 1,
         'MAUJER ST': 2,
         'EAST 93 ST': 1,
         'BOND ST': 1,
         '229 DRIVE NORTH': 1,
         'SEIGEL ST': 1,
         'WORTMAN AVE': 2,
         'HUMBOLDT ST': 1,
         'FARRAGUT RD': 2,
         'SAINT ANNS AVE': 1,
         'BUSHWICK AVE': 2,
         'MADISON ST': 6,
         'BIVONA ST': 1,
         'LENOX RD': 1,
         'REEDS MILL LN': 1,
         '35 AVE': 2,
         'LINDEN BLVD': 2,
         'WEST 147 ST': 1,
         'WILLIAMSBRIDGE RD': 2,
         'BUSH ST': 1,
         'EAST 105 ST': 2,
         'PITKIN AVE': 2,
         'MORRIS AVE': 1,
         'STANLEY AVE': 2,
         'WEST 152 ST': 1,
         'BAYVIEW AVE': 1,
         '49 ST': 2,
         'WESTWOOD AVE': 1,
         '31 AVE': 1,
         '170 ST': 1,
         'HOME ST': 1,
         '21 ST': 1,
         'REDFERN AVE': 1,
         'WEST 29 ST': 1,
         'BRUCKNER BLVD': 1,
         'TAPSCOTT ST': 1,
         'AVENUE WEST': 3,
         'VYSE AVE': 1,
         'HAMMELS BLVD': 1,
         'LIVONIA AVE': 2,
         '133 ST': 1,
         'SACKMAN ST': 1,
         'PARK AVE': 1,
         'NORTH PORTLAND AVE': 1,
         'FLATLANDS AVE': 1,
         'FLEET WALK': 1,
         'EAST 156 ST': 2,
         'BALCOM AVE': 1,
         '143 ST': 1,
         'BURKE AVE': 1,
         'EAST 108 ST': 4,
         'LEFFERTS AVE': 1,
         'EAST 161 ST': 1,
         'CARLTON AVE': 1,
         'MARCUS GARVEY BLVD': 1,
         'WEST 27 DR': 1,
         'GLENWOOD RD': 1,
         'MONROE ST': 1,
         'EAST 167 ST': 1,
         'KINGSBOROUGH 7 WALK': 1,
         'HOYT ST': 1,
         'EAST 6 ST': 1,
         'WEST 101 ST': 1,
         'WEST 144 ST': 1,
         'AUBURN PLACE': 1,
         'WILLIAMS AVE': 4,
         'BRABANT ST': 2,
         'FINDLAY AVE': 1,
         '116 AVE': 2,
         'RICHARDS ST': 2,
         'WEST 11 ST': 2,
         'DEWEY AVE': 1,
         '159 ST': 1,
         '71 AVE': 1,
         'BALTIC ST': 1,
         'LEWISTON AVE': 1,
         '144 AVE': 1,
         'BEACH 54 ST': 1,
         'FULTON ST': 2,
         '160 ST': 1,
         'PIKE ST': 1,
         'WEST 90 ST': 2,
         '51 ST': 1,
         'BAINBRIDGE ST': 2,
         'ADEE AVE': 2,
         'WEST 19 ST': 1,
         'HARROD AVE': 1,
         'BRONX RIVER AVE': 2,
         'EAST 137 ST': 1,
         'GEORGIA AVE': 1,
         'WEST 131 ST': 1,
         'ELDRIDGE ST': 1,
         'HUNTS POINT AVE': 1,
         '10 AVE': 1,
         '112 AVE': 1,
         '156 ST': 1,
         'BAILEY AVE': 1,
         'EXTERIOR ST': 1,
         'BAYCHESTER AVE': 1,
         'WEST 33 ST': 1,
         'EAST 115 ST': 1})

In [25]:
beforeHouse

Counter({'388': 2,
         '104': 1,
         '67-41': 1,
         '875': 1,
         '231': 1,
         '157': 1,
         '39': 1,
         '41-01': 1,
         '855': 1,
         '85-02': 1,
         '427': 1,
         '865': 1,
         '546': 1,
         '1075': 2,
         '1940': 1,
         '2185': 2,
         '3204': 1,
         '2729': 1,
         '205': 1,
         '2352': 1,
         '1768': 1,
         '1451': 1,
         '714': 1,
         '41-14': 1,
         '215': 1,
         '2220': 1,
         '1131': 1,
         '159-38': 1,
         '625': 1,
         '515': 1,
         '40': 3,
         '155-18': 1,
         '1385': 1,
         '726': 1,
         '1790A': 1,
         '4044': 1,
         '413': 1,
         '108-41': 1,
         '60': 4,
         '67-19': 1,
         '3024': 1,
         '1000': 1,
         '105-11': 1,
         '178': 1,
         '72': 1,
         '672': 1,
         '720': 1,
         '797': 1,
         '3045': 2,
         '921': 1,
         '28-02': 1,
         '15': 2,
         '3044': 1,
         '2101': 1,
         '23-03': 1,
         '3-04': 1,
         '736': 1,
         '2957': 1,
         '67-30': 1,
         '674': 1,
         '1502': 1,
         '168': 1,
         '107-60': 1,
         '2800': 1,
         '2-10': 1,
         '751': 1,
         '611': 1,
         '65-24': 1,
         '106-50': 1,
         '38': 5,
         '309': 2,
         '233': 1,
         '606': 1,
         '310': 1,
         '40-12': 1,
         '150': 1,
         '5': 1,
         '155-19': 1,
         '3030': 1,
         '1491': 1,
         '138-20': 1,
         '67-38': 1,
         '1545': 1,
         '1102': 1,
         '114-42': 1,
         '464': 1,
         '547A': 1,
         '740': 1,
         '175': 1,
         '2977': 1,
         '2250': 1,
         '109': 1,
         '2294': 1,
         '1672': 1,
         '1770B': 1,
         '444': 1,
         '35-20': 1,
         '715': 1,
         '619': 2,
         '75': 1,
         '537B': 1,
         '216': 1,
         '184': 1,
         '2653': 1,
         '129': 3,
         '218': 2,
         '1566': 1,
         '131-27': 1,
         '398': 1,
         '2336': 1,
         '2245': 2,
         '130': 1,
         '31': 2,
         '2045': 1,
         '710': 1,
         '635': 2,
         '2201': 1,
         '1689': 1,
         '750': 1,
         '1641': 1,
         '93': 1,
         '67-16': 1,
         '393': 1,
         '108-44': 1,
         '71-15': 1,
         '153': 2,
         '2935': 1,
         '1134': 1,
         '107': 1,
         '177': 2,
         '156': 1,
         '3784': 1,
         '185': 1,
         '760': 1,
         '1685B': 1,
         '433': 1,
         '104-06': 1,
         '735': 2,
         '851': 2,
         '159-20': 1,
         '67-02': 1,
         '807': 1,
         '1691': 1,
         '29': 1,
         '2770': 1,
         '40-10': 1,
         '301': 1,
         '422': 1,
         '1100': 2,
         '529': 1,
         '2370': 1,
         '501B': 1,
         '19': 1,
         '140': 1,
         '107-16': 1,
         '780': 1,
         '34': 1,
         '928': 1,
         '694': 1,
         '756': 2,
         '1020': 1,
         '1699': 1,
         '156-17': 1,
         '499B': 1,
         '45': 1,
         '190': 1,
         '1738': 1,
         '92': 1,
         '1531': 1,
         '74': 1,
         '447': 1,
         '3027': 1,
         '5905': 1,
         '125-01': 1,
         '325': 1,
         '486': 1,
         '138-11': 1,
         '77': 1,
         '451': 1,
         '1058': 1,
         '730': 1,
         '114-69': 1,
         '1084': 1,
         '70-30': 1,
         '33': 1,
         '113': 1,
         '9': 1,
         '532': 1,
         '1115': 1,
         '1245': 1,
         '10': 1,
         '40-06': 1,
         '829': 1,
         '90': 1,
         '395': 1,
         '2202': 1,
         '330': 2,
         '230': 1,
         '200': 1,
         '106-16': 1,
         '24': 2,
         '210L': 1,
         '737': 1,
         '69-33': 1,
         '893': 1,
         '551': 1,
         '2065': 1,
         '682': 1,
         '156-07': 1,
         '2221': 1,
         '363': 1,
         '1166': 1,
         '2326': 1,
         '239': 1,
         '1961': 1,
         '111': 1,
         '198': 1,
         '34-04': 1,
         '84-14': 1,
         '1634': 1,
         '644': 1,
         '2953': 1,
         '1': 1,
         '2449': 1,
         '770': 1,
         '626': 1,
         '188': 1,
         '2360': 1,
         '2275': 1,
         '106-03': 1,
         '359': 1,
         '100': 1,
         '80': 1,
         '107-15': 1,
         '110': 1,
         '197': 1,
         '191-18': 1,
         '763': 1,
         '108-35': 1,
         '106-36': 1,
         '428': 1,
         '1487': 1,
         '166': 1,
         '16': 1,
         '14-01': 1,
         '335': 1,
         '1679B': 1,
         '1575': 1,
         '5901': 1,
         '1767A': 1,
         '281': 1,
         '2945': 1,
         '290': 1,
         '210R': 1,
         '126-01': 1,
         '107-40': 1,
         '870': 1,
         '50-10': 1,
         '3041': 1,
         '1307': 1,
         '3080': 1,
         '826': 1,
         '2950': 1,
         '1160': 1,
         '118-03': 1,
         '508B': 1,
         '155-03': 1,
         '1796A': 1,
         '1258': 1,
         '115': 1,
         '244': 1,
         '12-22': 1,
         '3023': 1,
         '972': 1,
         '869': 1,
         '220': 1,
         '3885': 1,
         '169': 1,
         '2946': 1,
         '2815': 1,
         '106-22': 1,
         '107-02': 1,
         '550': 1,
         '2555': 1,
         '1683A': 1,
         '135': 1,
         '1855': 1,
         '40-04': 1,
         '2425': 1,
         '864': 1,
         '255': 1,
         '164': 1,
         '1734': 1,
         '847': 1,
         '17': 1,
         '510': 1,
         '254': 1,
         '1666': 1,
         '3758': 1,
         '280': 1,
         '3571': 1,
         '108': 1,
         '1611': 1,
         '545': 1,
         '2355': 1,
         '2742': 1,
         '217': 1,
         '2777': 1,
         '1831': 1,
         '240': 1,
         '107-11': 1,
         '1211': 1,
         '831': 1,
         '274': 1,
         '543A': 1,
         '228': 1,
         '322': 1,
         '1230': 1,
         '81-05': 1,
         '114-11': 1,
         '106': 1,
         '410': 1,
         '35-53': 1,
         '1452': 1,
         '118-15': 1,
         '808': 1,
         '165-17': 1,
         '35-35': 1,
         '1130': 1,
         '462': 1,
         '44': 1,
         '1980': 1,
         '3019': 1,
         '765': 1,
         '70-02': 1,
         '788': 1,
         '21-40': 1,
         '2971': 1,
         '3547': 1,
         '3144': 1,
         '2144': 1,
         '850': 1,
         '105': 1,
         '82-02': 1,
         '2385': 1,
         '41-02': 1,
         '34-25': 1,
         '1725': 1,
         '2070': 1,
         '275': 1,
         '863': 1,
         '5806': 1,
         '5711': 1,
         '107-04': 1,
         '405': 1})

In [26]:
afterHouse

Counter({'574': 1,
         '160': 2,
         '95': 1,
         '207': 1,
         '1677': 1,
         '12-21': 1,
         '126': 1,
         '2354': 1,
         '1825': 1,
         '353': 1,
         '113-32': 1,
         '201': 4,
         '1480': 1,
         '1131': 2,
         '2323': 1,
         '1735': 1,
         '1380': 1,
         '67-12': 1,
         '119-12': 1,
         '2770': 1,
         '77': 2,
         '508B': 1,
         '36': 1,
         '1180': 1,
         '2125': 1,
         '109-20': 1,
         '275': 1,
         '60': 2,
         '70': 4,
         '865': 3,
         '67-02': 1,
         '216': 2,
         '580': 2,
         '2630': 1,
         '345': 2,
         '359': 2,
         '644': 1,
         '228': 1,
         '229': 1,
         '48': 2,
         '1744': 1,
         '34': 2,
         '213': 1,
         '3549': 1,
         '40': 2,
         '291': 1,
         '583': 1,
         '50-03': 1,
         '101': 2,
         '778': 1,
         '1135': 1,
         '935': 1,
         '158': 1,
         '41-13': 2,
         '2102': 1,
         '139-10': 1,
         '1024': 1,
         '1790': 1,
         '181': 1,
         '751': 1,
         '15': 1,
         '65-26': 1,
         '155-11': 1,
         '1670': 1,
         '102': 1,
         '549A': 1,
         '247': 1,
         '223-20': 1,
         '383': 2,
         '178': 1,
         '163-11': 1,
         '65-54': 1,
         '765': 1,
         '676': 1,
         '433': 1,
         '595': 1,
         '218': 2,
         '54': 1,
         '111-46': 1,
         '642': 1,
         '28': 1,
         '708': 1,
         '560': 1,
         '544': 1,
         '845': 2,
         '539A': 1,
         '187-24': 1,
         '1664': 1,
         '1691': 1,
         '191': 1,
         '1145': 1,
         '1120': 1,
         '1105': 1,
         '2245': 1,
         '298': 1,
         '114': 1,
         '150': 1,
         '851': 1,
         '1309': 1,
         '90': 1,
         '896': 1,
         '2673': 1,
         '840': 2,
         '50-16': 1,
         '130': 3,
         '1666': 1,
         '1186': 1,
         '210L': 1,
         '114-22': 1,
         '1540': 1,
         '2075': 1,
         '2978': 1,
         '1550': 1,
         '426': 2,
         '1671': 1,
         '43': 1,
         '1590': 1,
         '535': 1,
         '654': 1,
         '89-09': 1,
         '2850': 1,
         '1610': 1,
         '20': 2,
         '1761': 1,
         '537A': 1,
         '23-02': 1,
         '2680': 1,
         '1715': 1,
         '1084': 1,
         '112': 1,
         '719': 2,
         '117-11': 1,
         '2356': 1,
         '458': 1,
         '124-18': 1,
         '41-10': 1,
         '123': 2,
         '293': 1,
         '681': 1,
         '733': 1,
         '31-62': 1,
         '497A': 1,
         '2780': 1,
         '35-20': 1,
         '1673': 1,
         '138-17': 1,
         '953': 1,
         '1726': 1,
         '215': 1,
         '472': 1,
         '133': 2,
         '44': 2,
         '1058': 1,
         '446': 1,
         '1149': 1,
         '2975': 1,
         '740': 1,
         '649': 1,
         '29': 1,
         '75': 1,
         '2201': 1,
         '374': 1,
         '626': 3,
         '2406': 1,
         '30': 1,
         '506B': 1,
         '191W': 1,
         '4': 1,
         '728': 1,
         '111': 1,
         '40-08': 1,
         '1692': 1,
         '704': 1,
         '67-24': 1,
         '770': 1,
         '142': 2,
         '155-18': 1,
         '67-39': 1,
         '3475': 1,
         '70-38': 1,
         '3550': 1,
         '1522': 1,
         '127': 1,
         '35': 1,
         '819': 1,
         '570': 2,
         '119-44': 1,
         '1230': 1,
         '38': 1,
         '2202': 1,
         '50-33': 1,
         '108-60': 1,
         '132-33': 1,
         '349': 1,
         '854': 1,
         '1511': 1,
         '117': 1,
         '144': 1,
         '200': 1,
         '183': 1,
         '188-23': 1,
         '2133': 1,
         '758': 1,
         '2410': 1,
         '226': 1,
         '1485': 1,
         '884': 1,
         '1800A': 1,
         '50': 1,
         '1044': 1,
         '2221': 1,
         '735': 1,
         '785': 2,
         '622': 1,
         '218-34': 1,
         '40-13': 1,
         '610': 1,
         '290': 1,
         '864': 1,
         '135': 1,
         '219-30': 1,
         '106-03': 1,
         '1114': 1,
         '1055': 1,
         '2384': 1,
         '50-48': 1,
         '1687A': 1,
         '590': 1,
         '173-09': 1,
         '763': 1,
         '447': 1,
         '108-37': 1,
         '1724B': 1,
         '650': 1,
         '726': 1,
         '645': 1,
         '50-17': 1,
         '1244': 1,
         '1679B': 1,
         '417': 1,
         '715': 1,
         '713': 1,
         '21-25': 1,
         '31': 1,
         '998': 1,
         '40-02': 1,
         '165': 1,
         '151': 1,
         '442': 1,
         '606': 1,
         '320': 2,
         '768': 1,
         '486': 1,
         '391': 1,
         '65-18': 1,
         '2336': 1,
         '2802': 1,
         '653': 1,
         '163-34': 1,
         '41-01': 1,
         '410': 1,
         '842': 1,
         '2777': 1,
         '1691A': 1,
         '58': 1,
         '825': 1,
         '997': 1,
         '427': 1,
         '2705': 1,
         '3058': 1,
         '2955': 1,
         '2793': 1,
         '211': 1,
         '932': 1,
         '744': 1,
         '199': 1,
         '1770B': 1,
         '908': 1,
         '41-16': 1,
         '306': 1,
         '1141': 1,
         '2816': 1,
         '49-11': 1,
         '710': 1,
         '2804': 1,
         '92-33': 1,
         '99': 1,
         '204': 1,
         '1020': 1,
         '1560': 1,
         '41-11': 1,
         '190': 1,
         '556': 1,
         '1871': 1,
         '366': 1,
         '106-06': 1,
         '107-48': 1,
         '333': 1,
         '725': 1,
         '1804A': 1,
         '329': 1,
         '340': 2,
         '274': 1,
         '31-38': 1,
         '1980': 1,
         '243': 1,
         '322': 1,
         '169': 1,
         '712': 1,
         '4064': 1,
         '14': 1,
         '139': 1,
         '545': 2,
         '534': 1,
         '1167': 1,
         '806': 1,
         '2801': 1,
         '868': 1,
         '107-26': 1,
         '2': 1,
         '1609': 1,
         '3861': 1,
         '1575': 1,
         '1350': 1,
         '1307': 1,
         '1400': 1,
         '80': 1,
         '1641': 1,
         '2120': 1,
         '296': 1,
         '850': 1,
         '2144': 1,
         '87': 1,
         '2385': 1,
         '859': 1,
         '1705': 1,
         '334': 1,
         '2140': 1,
         '185': 1,
         '2369': 1,
         '233': 1,
         '114-11': 1,
         '159-70': 1,
         '251': 1})

In [27]:
beforeBlock

Counter({'3130': 1,
         '1204': 3,
         '3633': 8,
         '1696': 2,
         '1874': 1,
         '2011': 1,
         '738': 3,
         '10125': 4,
         '1808': 2,
         '2654': 1,
         '3787': 1,
         '3026': 7,
         '396': 1,
         '7405': 1,
         '4292': 6,
         '3027': 3,
         '465': 4,
         '2901': 1,
         '10146': 2,
         '1203': 1,
         '1470': 8,
         '538': 8,
         '12825': 1,
         '6792': 10,
         '5582': 4,
         '4905': 9,
         '2626': 5,
         '1640': 3,
         '255': 2,
         '1719': 4,
         '1154': 4,
         '3723': 2,
         '10148': 2,
         '3593': 2,
         '3993': 1,
         '1631': 3,
         '2628': 1,
         '2040': 2,
         '4594': 1,
         '1471': 5,
         '1984': 1,
         '111': 3,
         '1933': 2,
         '1875': 1,
         '2106': 3,
         '7389': 4,
         '2894': 1,
         '2867': 1,
         '490': 1,
         '5567': 2,
         '7137': 1,
         '2680': 3,
         '3576': 1,
         '2037': 2,
         '533': 2,
         '4458': 2,
         '2068': 1,
         '389': 1,
         '1598': 1,
         '12335': 1,
         '2988': 1,
         '12235': 1,
         '2928': 1,
         '7140': 3,
         '1662': 3,
         '545': 4,
         '356': 2,
         '723': 2,
         '3544': 2,
         '2175': 2,
         '1330': 1,
         '4363': 1,
         '430': 1,
         '7408': 4,
         '10994': 1,
         '323': 2,
         '2012': 3,
         '4542': 2,
         '1615': 1,
         '2639': 1,
         '15892': 3,
         '6964': 1,
         '2034': 3,
         '2050': 2,
         '1608': 1,
         '3727': 1,
         '11055': 1,
         '3515': 1,
         '2324': 2,
         '4371': 2,
         '2527': 2,
         '12778': 1,
         '559': 2,
         '2395': 1,
         '7387': 1,
         '1379': 2,
         '8329': 2,
         '2016': 2,
         '2902': 2,
         '2756': 2,
         '3591': 7,
         '4581': 1,
         '335': 1,
         '260': 4,
         '3598': 1,
         '1836': 2,
         '7048': 1,
         '1855': 1,
         '4029': 1,
         '375': 3,
         '1084': 1,
         '736': 2,
         '1224': 1,
         '5564': 3,
         '1889': 1,
         '3532': 1,
         '1647': 1,
         '1749': 1,
         '12115': 1,
         '3760': 2,
         '1466': 3,
         '4818': 2,
         '2416': 1,
         '5037': 1,
         '3489': 4,
         '3096': 1,
         '1888': 1,
         '3080': 1,
         '68': 1,
         '421': 3,
         '3081': 1,
         '3129': 1,
         '2696': 2,
         '5263': 1,
         '4355': 2,
         '4951': 1,
         '1375': 1,
         '1684': 2,
         '4349': 3,
         '1980': 3,
         '196': 2,
         '4377': 2,
         '1738': 2,
         '3024': 3,
         '15782': 1,
         '2304': 1,
         '16114': 1,
         '2041': 2,
         '2748': 1,
         '2013': 1,
         '3062': 1,
         '8191': 2,
         '10127': 2,
         '332': 2,
         '8193': 6,
         '7978': 2,
         '3561': 2,
         '3551': 2,
         '3785': 1,
         '3025': 1,
         '4480': 1,
         '3777': 2,
         '8158': 6,
         '1964': 1,
         '2638': 1,
         '3512': 1,
         '2640': 1,
         '2623': 1,
         '470': 2,
         '4486': 1,
         '2325': 2,
         '8174': 1,
         '2557': 1,
         '11070': 1,
         '523': 1,
         '2303': 1,
         '13022': 1,
         '2740': 1,
         '7007': 1,
         '1873': 1,
         '1769': 1,
         '4488': 1,
         '2216': 1,
         '256': 1,
         '3494': 1,
         '12646': 1,
         '724': 1,
         '1431': 1,
         '1460': 1,
         '1618': 1,
         '2007': 1,
         '10841': 1,
         '2398': 1})

In [28]:
afterBlock

Counter({'15782': 1,
         '538': 4,
         '2372': 1,
         '7978': 1,
         '3737': 1,
         '1610': 1,
         '12778': 1,
         '307': 1,
         '3637': 3,
         '4581': 2,
         '7387': 3,
         '1470': 15,
         '3243': 3,
         '1344': 3,
         '4444': 4,
         '533': 4,
         '3598': 1,
         '470': 3,
         '3026': 4,
         '3024': 7,
         '7067': 1,
         '332': 4,
         '3725': 2,
         '12438': 1,
         '260': 7,
         '2626': 1,
         '2557': 1,
         '2895': 1,
         '4480': 3,
         '7405': 4,
         '3098': 1,
         '3633': 12,
         '2325': 3,
         '7053': 1,
         '6792': 14,
         '1154': 1,
         '367': 1,
         '4795': 1,
         '3561': 3,
         '1221': 1,
         '196': 2,
         '4488': 1,
         '3025': 3,
         '490': 2,
         '3576': 3,
         '2429': 1,
         '1330': 1,
         '2106': 2,
         '1580': 1,
         '4508': 1,
         '5564': 7,
         '738': 4,
         '1662': 3,
         '1613': 1,
         '1749': 5,
         '7408': 4,
         '2901': 1,
         '2756': 2,
         '3239': 1,
         '523': 1,
         '3027': 2,
         '6964': 5,
         '3511': 2,
         '323': 3,
         '15501': 2,
         '2639': 1,
         '1438': 1,
         '4393': 1,
         '10241': 1,
         '1719': 2,
         '12522': 1,
         '1684': 3,
         '4905': 4,
         '2034': 1,
         '2324': 2,
         '7137': 1,
         '2928': 2,
         '2012': 3,
         '1471': 4,
         '4292': 4,
         '4458': 1,
         '2428': 1,
         '2877': 1,
         '1245': 2,
         '7140': 1,
         '8329': 7,
         '12462': 1,
         '4542': 1,
         '3591': 4,
         '2548': 1,
         '2757': 1,
         '2311': 1,
         '2016': 2,
         '2216': 1,
         '706': 2,
         '15960': 1,
         '2028': 1,
         '256': 1,
         '7070': 1,
         '4363': 1,
         '2680': 2,
         '4818': 2,
         '4029': 1,
         '1631': 2,
         '2433': 1,
         '404': 3,
         '258': 1,
         '1964': 1,
         '2398': 1,
         '1740': 1,
         '5582': 3,
         '1635': 1,
         '10966': 1,
         '736': 2,
         '1875': 2,
         '3512': 6,
         '2215': 1,
         '1640': 3,
         '1375': 1,
         '3515': 1,
         '2298': 1,
         '1652': 1,
         '2990': 1,
         '3081': 1,
         '3993': 1,
         '362': 3,
         '5263': 1,
         '1757': 2,
         '1466': 1,
         '10167': 1,
         '465': 3,
         '2041': 2,
         '392': 1,
         '16114': 2,
         '3784': 1,
         '2638': 1,
         '4377': 1,
         '13042': 1,
         '3007': 1,
         '3727': 1,
         '3534': 1,
         '375': 3,
         '2399': 1,
         '3537': 1,
         '2011': 2,
         '2029': 1,
         '2696': 1,
         '2395': 1,
         '3723': 1,
         '8158': 3,
         '267': 1,
         '1984': 1,
         '11051': 1,
         '7007': 1,
         '12115': 1,
         '1379': 1,
         '10127': 1,
         '1608': 1,
         '1573': 1,
         '15892': 2,
         '2037': 4,
         '8174': 4,
         '3489': 1,
         '2527': 1,
         '2640': 2,
         '1836': 1,
         '2416': 1,
         '3730': 1,
         '3787': 1,
         '1649': 1,
         '2413': 1,
         '13022': 1,
         '715': 1,
         '3494': 1,
         '1626': 2,
         '11113': 1,
         '559': 1,
         '1595': 1,
         '1373': 1,
         '1738': 3,
         '1808': 1,
         '2050': 1,
         '4349': 1,
         '3129': 1,
         '1688': 1,
         '2427': 2,
         '723': 1,
         '1933': 1,
         '5567': 1,
         '1460': 1,
         '7048': 1,
         '12208': 1,
         '338': 1,
         '10125': 1,
         '4951': 1,
         '3544': 1})

In [29]:
beforeLot

Counter({'100': 17,
         '31': 2,
         '21': 7,
         '1': 211,
         '2': 11,
         '29': 1,
         '20': 2,
         '14': 1,
         '11': 8,
         '60': 4,
         '101': 5,
         '10': 6,
         '50': 4,
         '41': 1,
         '28': 2,
         '30': 11,
         '63': 1,
         '39': 2,
         '33': 2,
         '83': 1,
         '49': 1,
         '5': 5,
         '26': 1,
         '4': 4,
         '8': 4,
         '15': 4,
         '34': 2,
         '68': 1,
         '75': 1,
         '53': 1,
         '24': 2,
         '51': 1,
         '40': 2,
         '35': 1,
         '225': 3,
         '45': 2,
         '78': 1,
         '57': 1,
         '110': 1,
         '46': 4,
         '12': 1,
         '500': 3,
         '27': 1,
         '18': 3,
         '156': 1,
         '135': 1,
         '200': 3,
         '61': 4,
         '1001': 1,
         '9': 2,
         '7': 1,
         '180': 1,
         '16': 4,
         '205': 2,
         '136': 1,
         '3': 2,
         '56': 2,
         '126': 1,
         '128': 1,
         '90': 1,
         '38': 1,
         '47': 2,
         '55': 1,
         '59': 1,
         '320': 1,
         '82': 1,
         '17': 1})

In [30]:
afterLot

Counter({'1': 201,
         '21': 7,
         '9': 2,
         '19': 2,
         '55': 1,
         '2': 16,
         '11': 4,
         '20': 5,
         '50': 6,
         '28': 2,
         '12': 2,
         '22': 2,
         '80': 1,
         '30': 10,
         '8': 1,
         '101': 7,
         '23': 4,
         '75': 4,
         '3': 5,
         '24': 3,
         '41': 3,
         '18': 4,
         '60': 3,
         '53': 2,
         '15': 9,
         '46': 3,
         '32': 2,
         '59': 1,
         '90': 1,
         '100': 9,
         '5': 5,
         '225': 5,
         '47': 1,
         '61': 6,
         '500': 3,
         '51': 1,
         '45': 1,
         '17': 2,
         '1001': 2,
         '109': 1,
         '25': 2,
         '180': 1,
         '40': 4,
         '49': 2,
         '63': 3,
         '29': 1,
         '26': 2,
         '57': 1,
         '16': 3,
         '205': 2,
         '200': 2,
         '10': 3,
         '6': 1,
         '64': 1,
         '37': 1,
         '294': 1,
         '31': 2,
         '54': 1,
         '133': 1,
         '36': 1,
         '116': 1})

In [31]:
beforeComDistrict

Counter({'16': 47,
         '9': 40,
         '1': 55,
         '2': 19,
         '3': 55,
         '12': 32,
         '10': 16,
         '4': 6,
         '8': 21,
         '7': 12,
         '15': 4,
         '5': 20,
         '14': 7,
         '11': 22,
         '6': 8,
         '13': 8,
         '18': 13})

In [32]:
afterComDistrict

Counter({'N/A': 385})

# Export Results to csv

In [33]:
# Uncomment to write the cleaned data to a csv file
#ds_full.write('./cleaned_data.csv')
#ds_portion.write('./afterCleaned_data.csv')

[]